[2013-12-24 21:52] stevenalanstark opened #68 "ImageAlpha doesn't seem to do anything when running CLI"
Hello,

I love this project, great work! especially the git hook, I plan to use this a lot.

I have installed the CLI and ImageOptim and ImageAlpha, but I don't see ImageAlpha doing much of anything. Out-of-the-box my png's only reduce about 10%, which shows that only ImageOptim is working.

To troubleshoot, I opened the settings in ImageOptim and turned everything PNG off, just to see what ImageA

[2014-06-26 13:43] realdannys opened #87 "ImageAlpha - No Such File or Directory"
Hi,

I found another thread on this which I believe you fixed, but I'm trying to run it form /bin/sh and I'm getting...

Running ImageAlpha...
find: /var/folders/19/bbnc6b751llf_s9j2j09j_400000gp/T//imageoptim-cli/png: No such file or directory

Any ideas? Is it a bug or something I can fix, I was hoping to get applescript to launch it once triggered by hazel to automatically optimise screenshots.

[2014-11-04 23:58] JamieMason opened #94 "Improve installation docs and naming"
Lots of great info from @opattison here on the unnecessary pain he went through: https://github.com/opattison/notes/blob/master/_posts/2014-10-08-how-to-install-npm-and-imageoptim-cli.md

[2014-11-05 16:19] Trullus opened #95 "ImageAlpha not working when running ImageOptim-CLI"
Hello!

First of all, thank you very much for your great work. I got an issue and hoping to find some answers.

When running ImageOptim-CLI the script outputs "Running ImageAlpha..." but immediately jumps to "Running ImageOptim...". I originally thought, that the scirpt is just really fast, but then i ran some tests.

I copied my image folder and ran the script on one folder without, and afterward

[2014-11-06 17:00] jhebb opened #96 "Can't remove temp folders after imageoptim runs"
Hi, I'm getting the following errors every time the script is run:

rm: /var/folders/mn/mn5ycnzx7h90rsbmk7sypskm0000gn/T//imageoptim-cli/png/Users/username: Permission denied
rm: /var/folders/mn/mn5ycnzx7h90rsbmk7sypskm0000gn/T//imageoptim-cli/png/Users: Directory not empty
rm: /var/folders/mn/mn5ycnzx7h90rsbmk7sypskm0000gn/T//imageoptim-cli/png: Directory not empty
rm: /var/folders/mn/mn5ycnzx7h9

[2014-11-06 17:03] jhebb opened #97 "error message running jpegmini"
Hi, I get the following error message when trying to run imageoptim-cli with the jpegmini option:

/usr/local/bin/imageOptimAppleScriptLib:3254:3294: execution error: System Events got an error: Can’t get button "Go" of sheet 1 of window 1 of process "JPEGmini". (-1728)

imageoptim-cli version 1.11.4
jpegmini version 1.8.6
imageoptim version 1.5.4-yosemite (but got the same error with 1.5.3)

[2014-11-06 18:55] glitchtracker opened #98 "Can't find JpegMini Pro"
Hi,
I've installed the latest. Installed JpegMini Pro (latest 1.6)
but it can't find Jpeg mini pro

do shell script "/Applications/ImageOptim-CLI-master/bin/imageOptim -j -d '/FMP/FMP Scratch/Photos_majweb/'"
		--> error "[31m✘ JPEGmini is not installed (https://itunes.apple.com/us/app/jpegmini/id498944723)[0m" number 1

[2014-11-07 18:34] qdubois opened #99 "Filename with accents"
Dear all,

ImageOptim-CLI crashed when i try to optimize a directory with filename with accents

imageOptim  -q -c -d /Users/user/Downloads/pics/
sort: string comparison failed: Illegal byte sequence
sort: Set LC_ALL='C' to work around the problem.
sort: The strings compared were `/USERS/USER/DOWNLOADS/PICS//CAPTURE-D\302\200\231ÉCRAN-2014-11-06-À-09.40.44.PNG' and `/USERS/USER/DOWNLOADS/PICS//C

[2014-11-17 23:46] jestelle opened #102 "Suggested git pre-commit only works for single files"
Hi there,

I tried using the suggested git pre-commit and found it only works when a single file is matched.

It also has some issues if there are spaces in the file path, with git add'ing things back in.

Cheers!

[2014-12-14 22:23] GaryJones opened #103 "JPEGMini Pro error"
`/usr/local/bin/imageOptimAppleScriptLib:3271:3311: execution error: System Events got an error: Can’t get button "Go" of sheet 1 of window 1 of process "JPEGmini Pro". (-1728)`

[2015-01-05 03:20] jrean opened #105 "--quit closes JPEGmini but not ImageOptim"
Hi Jamie,
Thank you for you amazing work!

Little question, when using the -j flag it correctly pre-process photos with JPEGmini BUT it seems to not take care of the "Resize photo" option (when ticked). Did I miss something?

Do you recommend another cli tool to resize photos before applying ImageOptim?

Last but not least, when I use the flag -q it close JPEGmini after the process but still keep

[2015-01-05 08:12] JamieMason commented on #105
Thanks @jrean you're very welcome. Are you running the latest version of this project? The following command `imageoptim --version` should say `1.11.4`.

[2015-01-05 08:15] JamieMason commented on #103
Thanks @GaryJones I'll get onto this soon — which version of OSX are you running please?

[2015-01-05 08:20] JamieMason commented on #102
Hi @jestelle, this was changed by @MSch in [this diff](https://github.com/JamieMason/ImageOptim-CLI/commit/0c48333d57f88814c802554f8d95551d1b8cab90).

Does the previous pre-commit hook below work for you?

[code]

[2015-01-05 08:23] JamieMason commented on #98
Sorry for the delay — @glitchtracker does this still occur in 1.11.4 please? (+ @bezelinja)

[2015-01-05 08:23] JamieMason commented on #99
Thanks @qdubois @pornel — closing.

[2015-01-05 08:23] #99 closed

[2015-01-05 08:27] JamieMason commented on #95
Thanks @fbbarros, I'm working on a v2 locally and this extra configuration will be part of it.

Regarding whether ImageAlpha is running @Trullus, I'm sure that it is but because the quality is set quite high it's very often the case that images are skipped because the proposed optimisation is larger. I have seen locally when lowering this range that images are changed more often. I will close this

[2015-01-05 08:28] JamieMason commented on #97
Thanks @jhebb @jonnysperber I will close this and track the duplicate in #103.

[2015-01-05 08:28] #97 closed

[2015-01-05 08:30] JamieMason commented on #96
Sorry for the delay @jhebb. I get this issue myself and plan to fix it, but so far I'm not sure how to fix it.

[2015-01-05 08:42] GaryJones commented on #103
10.9.5

[2015-01-05 08:48] jrean commented on #105
Hi,

Yes it outputs 1.11.4
Running under iTerm2 and everything seems to be up to date. My main concern is to understand why it doesn't use the setting of resizing images while JpegMini pre-processing.

Closing ImageOptim Gui by myself is not really a pb :-)

Can I supply more "debug" details?

Regards.

[2015-01-05 09:15] bezelinja commented on #98
Hey,

thanks for reply. Well I did update ImageOptim to newest version although I still do get

Error: JPEGmini is not installed (https://itunes.apple.com/us/app/jpegmini/id498944723)

There is a chance that I don't know what I'm doing tho.

[2015-01-05 09:35] JamieMason commented on #98
What do you get back for the command `osascript -e 'id of app "JPEGmini Lite"'` please? Where "JPEGmini Lite" is either "JPEGmini" or "JPEGmini Pro", depending on what is displayed when you hover over your JPEGmini Dock icon.

[2015-01-05 09:38] JamieMason commented on #105
I'll need to get back to you when I'm on my own machine — I have to admit, I haven't noticed the resize option in JPEGmini.

[2015-01-05 10:23] jrean commented on #105
Take your time :-)
I used to use the "sips" cmd from terminal but I noticed JPEGmini offers  part of such functionality so I decided to give it a try ...

Keep me posted.

:-)

[2015-01-06 10:06] bezelinja commented on #98
com.icvt.JPEGmini-Pro

[2015-01-07 21:08] mattparrilla commented on #103
+1, also 10.9.5.

imageoptim-cli 1.11.4
jpegmini 1.8.7
imageoptim 1.5.4

Really cool tool. Excited to bring it into my workflow!

[2015-01-09 18:46] brianroach commented on #98
I too cannot figure out how to make this work with JPEGMini Pro. Novice here so I apologize ahead of time for need a thorough walkthrough!

[2015-01-10 04:33] jrean commented on #105
Hi,

Did you check?

Regards.

[2015-01-10 09:30] JamieMason commented on #105
No, I've still not been on my own machine. I work full time and also travel a lot.

[2015-02-02 11:58] mexyn commented on #103
Same problem here...

[2015-02-10 00:31] falzhobel commented on #95
Hey guys, I'm getting a similar issue while running the CLI on 2 PNG files that are quite large :+1:

![1__guillaume_guillaumes-macbook-air____downloads_fermieres__zsh_](https://cloud.githubusercontent.com/assets/136990/6119017/8c8270d0-b091-11e4-94ea-3ceef89fade3.png)

Here's what I get when running them the ImageAlpha app :

![09_7_item_recipe1_png_and_11_3_item_yarn_png_and_epoque4-2_and_epoque

[2015-02-10 03:34] falzhobel commented on #103
Also getting the error on Yosemite 10.10.2, with JPEGmini 1.8.7

But I can confirm it works with fine JPEGmini 1.8.2, so it's definitely a problem with the newest version.

[2015-02-12 16:51] mdevane opened #106 "imageoptim-cli error using jpeg-mini lite"
Have set up ImageOptim, ImageAlpha, jpegMini, and imageoptim-cli on my MacPro running Mavericks.  All installed properly and imageoptim-cli has tested OK from Terminal.  When I add jpegMini to the mix using the following command:

***imageoptim -j -d test/edgewater/dm***,

I received the following msg:

***/usr/local/bin/imageOptimAppleScriptLib:2886:2962: execution error: System Events got an err

[2015-02-12 19:02] JamieMason commented on #98
that's a great idea @glitchtracker, why didn't I think of that? Just hitting return - so much simpler.

[2015-02-12 19:05] JamieMason commented on #102
Did you try the above please @jestelle?

[2015-02-12 19:11] JamieMason commented on #106
I think the local fix in ff8fc16 for issue #98 should also address this.

[2015-02-12 19:11] JamieMason commented on #103
I think the local fix in ff8fc16 for issue #98 should also address this.

[2015-02-12 19:14] falzhobel commented on #103
Are you going to add this commit to a new release?

Thanks for the quick reply.

[2015-02-12 19:16] JamieMason commented on #95
Reopening so I don't miss this @falzhobel.

[2015-02-12 19:17] JamieMason commented on #103
Merging into develop now then pushing there, but I have to head out soon so the release will be a little later

[2015-02-12 19:22] JamieMason commented on #105
Hey @jrean, I have a theory I want to check with you.

I see the setting in preferences with a folder to set as well.

+ When that is set in preferences, does the results output say there were no savings?
+ If you go to the folder you set in that option, do you find images there which are lighter and resized?

[2015-02-12 19:27] JamieMason commented on #98
I'm not ready to do a release just yet, but anyone wanting to try the latest version can run;

    npm uninstall -g imageoptim-cli
    npm install -g git+https://github.com:JamieMason/ImageOptim-CLI.git#ad692863385e69a9231c8aaea1c0f3dcf736247a

[2015-02-12 19:27] JamieMason commented on #103
I'm not ready to do a release just yet, but anyone wanting to try the latest version can run;

    npm uninstall -g imageoptim-cli
    npm install -g git+https://github.com:JamieMason/ImageOptim-CLI.git#ad692863385e69a9231c8aaea1c0f3dcf736247a

[2015-02-12 19:27] JamieMason commented on #105
I'm not ready to do a release just yet, but anyone wanting to try the latest version can run;

    npm uninstall -g imageoptim-cli
    npm install -g git+https://github.com:JamieMason/ImageOptim-CLI.git#ad692863385e69a9231c8aaea1c0f3dcf736247a

[2015-02-12 19:27] JamieMason commented on #106
I'm not ready to do a release just yet, but anyone wanting to try the latest version can run;

    npm uninstall -g imageoptim-cli
    npm install -g git+https://github.com:JamieMason/ImageOptim-CLI.git#ad692863385e69a9231c8aaea1c0f3dcf736247a

[2015-02-12 20:01] mdevane commented on #106
Hi Jamie -

1. Is this install below going to add the pre-release version mentioned in your previous email?

2. You mention in your article that ImageOptim-cli can be used in Automator scripts.  I have been trying to get this working this morning to no avail.  Any suggestions/examples you can point me to?  I have been trying to create a simple shell script, but I keep getting error:

	-: line1: im

[2015-02-12 20:57] glitchtracker commented on #98
Glad it helped you ! :-)

2015-02-12 20:02 GMT+01:00 Jamie Mason <notifications@github.com>:

[2015-02-12 21:18] jestelle commented on #102
I haven't had a chance to test it yet.  Sorry!  Will try to give it a go
soon.

On Thu, Feb 12, 2015, 11:05 AM Jamie Mason <notifications@github.com> wrote:

[2015-02-12 22:55] JamieMason commented on #102
No problem, thanks.

[2015-02-13 01:45] falzhobel commented on #103
Works fine for me with the latest version, thanks :+1:

[2015-02-13 09:16] JamieMason commented on #106
Hey @mdevane,

1) That install is the pre-release version yes, it includes fixes for #106, #105, #103, #98.

2) Automator

1. First go to your Terminal and run `which imageoptim` to find out where the bin is installed (in my case `/usr/local/bin/imageoptim`).
1. In Automator, you need a *Run Shell Script* action with;
    1. The `/bin/bash` shell.
    1. Pass input as arguments.
    1. The content

[2015-02-13 13:11] mdevane commented on #106
Hi Jamie -

1) will dl new pre-release and test later today.
2) worked perfectly - thx very much!

Mark
On Feb 13, 2015, at 3:16 AM, Jamie Mason <notifications@github.com> wrote:

[2015-02-13 13:15] JamieMason commented on #106
Thanks @mdevane that would be really useful to have you run a test for me.

[2015-02-13 14:07] mdevane commented on #106
OK - some results on new pre-release:

1) when run from working directory on home volume, new version worked, although on the 1st run, the macro stopped midway waiting for user input that had not been coded:  confirmation that it was OK to overwrite existing files.  Once that button was manually clicked, the macro completed OK.  On subsequent runs, the macro ran to completion, because JPEGmini Lit

[2015-02-13 15:10] JamieMason commented on #106
1) I should document this but yes, as you had done, currently you need to manually click off those dialogs when running JPEGmini for the first time.
2) I've never actually tried running this over a volume other than my mac hard drive, what does the command you're using look like? And also the `echo $PWD` when on that volume?
3) This is more typical behaviour, to be anywhere on your mac volume but

[2015-02-13 19:58] mdevane commented on #106
see comments below:

On Feb 13, 2015, at 9:10 AM, Jamie Mason <notifications@github.com> wrote:

following is the error received:

 /usr/local/bin/imageOptimAppleScriptLib:3026:3102: execution error: System Events got an error: Can’t get sheet 1 of window 1 of process "JPEGmini Lite". Invalid index. (-1719)

btw - in each of the cases where JPEGmini lite has failed, ImageOptim runs with no problem

[2015-02-13 21:10] JamieMason commented on #106
The # was a single line comment, just so I could mention where the options go that's all.

Are the using the pre-release version from [above](https://github.com/JamieMason/ImageOptim-CLI/issues/106#issuecomment-74135476)? If so, I will need to look into what could be wrong on Mavericks, I'm on Yosemite here at home.

[2015-02-16 08:51] GaryJones commented on #103
Works a treat!

May well be a different Issue, but the JPEGMini Pro paused at the confirmation that images in the folder I tested were going to be overwritten. Instead of me always accepting that, could a option flag be passed to imageoptim-cli so that it would go ahead and click continue for me?

[2015-02-16 09:10] JamieMason commented on #103
Hey @GaryJones, that _should_ only happen the first time you run JPEGMini Pro, am I right? Or does it happen on every run? We could raise an issue for an enhancement I guess, it's a tricky bit of work though and would be fairly low priority if it does just happen on first run.

[2015-02-16 12:16] GaryJones commented on #103
It happens every time if you don't select the Don't Show Again on the confirmation, or if you turn "Warn me before replacing photos" option back on in Preferences.

![screenshot 2015-02-16 12 15 34](https://cloud.githubusercontent.com/assets/88371/6211768/8de3c5ac-b5d5-11e4-8ffd-062721e5fdd2.png)

![screenshot 2015-02-16 12 14 24](https://cloud.githubusercontent.com/assets/88371/6211764/7553b402-b

[2015-02-16 21:29] reintroducing commented on #103
I'm running into the same issue as the original posted here and its great to see a fix is already in place.  Subscribing to be informed of the new release. Thanks for the fantastic work on this!

[2015-02-16 21:40] #105 closed

[2015-02-16 21:46] JamieMason commented on #98
Released 1.11.6

[2015-02-16 21:46] #98 closed

[2015-02-16 21:46] JamieMason commented on #103
Released 1.11.6

[2015-02-16 21:46] #103 closed

[2015-02-16 21:47] JamieMason commented on #106
Released 1.11.6

[2015-02-16 21:47] #106 closed

[2015-02-17 17:47] mdevane commented on #106
pre-release - yes
OS - Mavericks

On Feb 13, 2015, at 3:10 PM, Jamie Mason <notifications@github.com> wrote:

[2015-02-17 18:33] JamieMason commented on #106
Which of the things we've discussed are still pending please? Thanks.

[2015-02-18 18:27] GregOriol opened #108 "Timeout on JPEGmini with a lot of files"
Trying to pass a lot of files through JPEGmini + ImageOptim, I had a timeout and ImageOptim-cli went to the next step, while the first one wasn't over; which broken somehow the process:

[code]

Maybe a longer time on AppleScript could be used somehow?

[2015-03-20 22:42] michaelhebert commented on #102
I have the same problem. When more than 1 file is found by the git diff, $images is "file1 file2" and this triggers the error "Ignored as neither file or directory"

[2015-03-25 12:49] colmjude opened #109 "JPEGmini not running"
imageoptim-cli: 1.11.6
imageOptim: 1.5.4
JPEGmini: 1.8.7

When I run imageoptim I get the following error when it attempts to use JPEGmini
```execution error: System Events got an error: Can’t get sheet 1 of sheet 1 of window 1 of process "JPEGmini". Invalid index. (-1719)```

Any idea what is going wrong?

[2015-03-30 20:19] nwtn opened #110 "Optimize a single file from within a bash script"
To optimize a single file, the documentation says to do something like:

[code]

This works totally fine when I do it directly in the console, but I'm hitting some errors when I try to do this from within a bash script. I have this in my script:

[code]

$fn is set correctly and the file exists, but my script produces:

[code]

Do you have any suggestions for how I can optimize a single file from

[2015-04-09 17:09] scttcper commented on #95
I'm getting something similar.

Running ImageAlpha...
find: /var/folders/12/qfs4md7x73b1vrrz89hxhhtr0000gn/T//imageoptim-cli/png: No such file or directory
Running ImageOptim...

Skips over ImageAlpha once it decides it is not found. I have tried:
Reinstalling ImageAlpha (current newest version)
rm -rf the //imageoptim folder
Using node 0.12.2 and iojs v1.6.3

I'm on Yosemite 10.10.3. Let me know

[2015-04-09 17:35] falzhobel commented on #95
Thanks @JamieMason !

[2015-04-23 19:14] kenetik opened #111 "osascript: command not found"
[user@localhost Optimized]$ sudo imageOptim -d "/home/Optimized"
    /usr/bin/imageOptimBashLib: line 447: osascript: command not found
    /usr/bin/imageOptimBashLib: line 451: osascript: command not found
    /usr/bin/imageOptim: line 64: osascript: command not found
    /usr/bin/imageOptimBashLib: line 455: osascript: command not found
    find: unknown predicate `-E'
    sort: cannot read: /im

[2015-04-23 20:28] #111 closed

[2015-05-18 21:51] paultreny commented on #109
It looks to me like the JPEGmini developers have disabled the the __File > Open…__ menu dropdown, which in turn disables the hotkey ( __⌘O__ ). This dropdown existed in past versions, but does not exist in any version of JPEGmini lite, normal or pro, I tested version 1.9.0. __imageoptim-cli__ relies on this hotkey existing when automating the image file selection process, and I imagine it will be

[2015-05-19 03:53] cweekly commented on #109
Same issue -- but I think I've just resolved it!
OSX 10.9.5, node v0.12.3, npm 2.9.1, ImageOptim v1.5.6, imageoptim-cli 1.11.6.

Going through grunt (via grunt-imageoptim) was getting in the way of my debugging, so I have been using npm directly, eg
  `find ./webapp.war/img -name '*.jpg' | imageoptim -j`

First: ImageOptim-CLI is a great tool. Thank you, Jamie Mason!
Now: Thank you so much, Paul "

[2015-05-19 04:04] paultreny commented on #96
I get this same error, both in 1.11.4, but also in 1.11.6

:-/

[2015-05-19 08:26] JamieMason commented on #109
Thanks ever so much. I'm on holiday but will pick up when I return home.

[2015-05-19 20:10] paultreny commented on #109
The tip about flushing the cache is handy @cweekly , thanks! I hadn't run across that exact issue yet, but it's useful

Update on the JPEGmini __⌘O__ saga, I tweeted at them and they've said it's a bug, so hopefully it will be fixed in the next version.

https://twitter.com/paultreny/status/600422951746408448

https://twitter.com/jpegmini/status/600568031165730816

[2015-05-22 01:23] moramedia commented on #109
I hope it gets fixed soon... I'm doing it manually :(

[2015-05-22 01:29] cweekly commented on #109
Right on, Jamie and Paul! :)
One more quick note about shell scripting imageoptim-cli for posterity (ie, for this tool's users): the sample command I noted for the success case will run into problems (ie "zsh: argument list too long: find") if it's run against too-large a set of files. So, instead of this:
` find ./webapp.war/img -name '*.jpg' | imageoptim -j `
you'll want to find a way to do it i

[2015-05-22 07:55] JamieMason commented on #109
Hey, are you saying Chris that the "can't get sheet" error is fixed by clearing imageoptim's cache? Also, the last comment about the find command, could you raise a separate issue for that please if it's unrelated? Will be easier for me to track. Thanks a lot Chris.

Note to all: I'm currently on holiday and have 2 paid projects running at the same time when I return, it could be a few weeks befor

[2015-05-22 21:06] cweekly commented on #109
Hi Jamie,
Yes to first question, and N/A for 2nd.

1) Yes, I was able to avoid the "can't get sheet" error with the following setup:
* OSX 10.9.3
* node 0.12.3
* npm@2.9.1
* imageoptim-cli@1.11.6
* ImageOptim.app v1.5.6
* JPEGmini v1.8.7 (not v1.9.0 which has a disabled "File > Open" menu item)

Steps after unsuccessful attempts with 1.9.0 and installing 1.8.7:
 1. Clear the imageoptim cache: 'rm

[2015-05-29 07:01] JamieMason commented on #110
Sorry for the slow reply @nwtn — has there been any change since the above?

[2015-05-29 17:24] nwtn commented on #110
I'm not sure if there was an error with my previous script, or if the issue is resolved, but I'm not seeing this anymore.

Script:

[code]

Results:

[code]

Closing.

[2015-05-29 17:24] #110 closed

[2015-05-29 17:25] nwtn commented on #110
Just looked at the original issue, and I think the issue was mine afterall: the `$fn` in the script shouldn't have had quotes around it. Sorry for the trouble.

[2015-05-29 18:07] JamieMason commented on #110
No problem at all, thanks

[2015-07-03 14:49] vitorgalvao opened #112 "Add support for use with xargs"
Doing `find … | imageoptim` works as expected, but `find … | xargs imageoptim` does not (it quits and shows the help message). This matters because if we want to `find … -print0 | xargs -0 imageoptim`, we can’t.

[2015-07-12 21:59] pornel opened #113 "ImageOptim 1.6 changes"
Heads up: pngquant bundled with ImageOptim is going to move from `ImageOptim.app/Contents/MacOS/pngquant` to `ImageOptim.app/Contents/Frameworks/ImageOptimGPL.framework/Resources/pngquant`. I could add a symlink in the old location, but I see you're using your own version anyway.

The new embedded framework finally makes it possible to run optimizations without the main ImageOptim UI!

So far I've

[2015-07-17 02:14] wearhere opened #114 "imageOptim doesn't quit"
After installing ImageOptim and ImageAlpha (where do I need to put these btw? Is `/Applications` ok?) and ImageOptim-CLI, I run `imageOptim -q -a -d /directory/of/images` and see:

[code]

and then ImageOptim-CLI just hangs without terminating nor further output. (But, FWIW, the activity indicator present next to the Terminal tab name after ImageOptim-CLI starts up

<img width="207" alt="screen sh

[2015-07-17 09:11] JamieMason commented on #114
Hey @wearhere,
`/Applications` is the correct place. Can you confirm that the ImageOptim app isn't still running? It should be visible in your dock.

Thanks.

[2015-07-17 21:31] wearhere commented on #114
Ah, it was indeed running! I didn't realize how long it would take to process my images—it would be nice if it were possible for you to provide some sort of progress information. Thanks for clarifying!

[2015-07-17 21:31] #114 closed

[2015-07-19 12:31] #113 closed

[2015-07-19 14:26] JamieMason commented on #113
Appreciate this info, thanks @pornel.

[2015-08-04 09:19] btxkenshin opened #115 "ImageOptim failed always,with error not find ImageOptim"
as follow :

[code]

[2015-08-04 09:36] #115 closed

[2015-08-31 21:48] SPJPGRD opened #116 "Error when trying to run ImageOptim, JPEG Mini, and Image Alpha from the pre-commit hook"
I was looking to take the pre-commit hook a bit farther and run it through all the optimizers, and I can't seem to figure it out.

Here's the version you provided (which works):
[code]

Here's one example of a modified version I made. I've tried a lot of combinations and all result in roughly the same type of failure.
[code]

This error is probably a result of my inexperience with this.

[code]

I

[2015-08-31 22:38] JamieMason commented on #116
Hi @SPJPGRD,
I'm sending this without having run it, so it may not help, but not quoting variable names containing paths is a common gotcha which will result in failures if any of the paths contain spaces;

[code]

It's a bit of a pot shot, but I hope this helps a little.

Thanks,

Jamie

[2015-09-01 07:21] JamieMason commented on #116
Hi @SPJPGRD,
Thanks for raising this, the issue could be with my original script in that the `$images` variable is not quoted, which will cause issues if any of the file paths contain spaces.

Please could you try the following?

[code]

[2015-09-01 15:01] SPJPGRD commented on #116
Hey @JamieMason •

That did the trick.
Thanks for the quick response!

[2015-09-01 15:01] #116 closed

[2015-09-07 06:17] evercry opened #117 "Run With ImageAlpha, not working."
$ imageOptim -a -d ./
Running ImageAlpha...
find: /var/folders/f1/tsx0lwz55r714813288mldhr0000gn/T//imageoptim-cli/png: No such file or directory
Running ImageOptim...
.//resource.jpg was: 136.316kb now: 136.316kb saving: 0kb (0%)
TOTAL was: 136.316kb now: 136.316kb saving: 0kb (0%)

Please check this.

[2015-10-17 12:42] almone commented on #109
It looks like JPEGmini devs did their job and **⌘O** finally came back with 1.9.1.

[2015-11-27 00:10] dkubb commented on #111
This was probably caused by having GNU find in the `$PATH` ahead of the one that ships with OSX.

[2015-12-16 09:47] ahennie commented on #68
@sonicdivx  and @stevenalanstark was this issue ever solved? can't get it to run.

[2015-12-23 12:08] pecuchet opened #119 "Errors found if a `find` with no results is piped in"
Hello,
I'm using ImageOptim in a `bash` script. It gives me an error when used in combination with a `find` command that doesn't return anything. For instance:
`$ find "/path/to/folder/without/gifs" -name '*.gif' | imageoptim`
 The error message is the following:

[code]

I tried to use `imageoptim` with `find -exec` like in `find "path" -name '*.gif' -exec imageoptim {} +` but ImageOptim doesn't

[2015-12-23 12:25] JamieMason commented on #119
Thanks @pecuchet, I think some hardening is needed around the cases where no images are passed — it's a corner case I've overlooked.

[2015-12-23 12:26] JamieMason commented on #119
You could `imageoptim --directory "/path/to/folder/without/gifs"`, but that would process everything, not just the GIFs.

[2015-12-23 12:29] JamieMason commented on #68
So far I've not been able to reproduce this: when running over a large set of images and looking at the Activity Monitor I've been able to see `pngquant` processes coming and going.

That said, there have been a lot of requests about this so I will reopen this issue and see what more can be done.

[2015-12-23 12:30] JamieMason commented on #117
Thanks @evercry, closing as duplicate of #68, which I have reopened.

[2015-12-23 12:30] #117 closed

[2015-12-23 12:32] JamieMason commented on #109
Sorry for the delay, @almone @cweekly @moramedia @paultreny @colmjude — is this issue now fixed due to JPEGmini >=1.9.1?

[2015-12-23 12:33] JamieMason commented on #108
Thanks for this @GregOriol and sorry for the delay — could you tell me how many images you were running over so I can attempt to reproduce?

[2015-12-23 12:35] JamieMason commented on #112
Thanks for this @vitorgalvao.
I'll need some help here as I've not used xargs before, is it not something that would be piped, as in `find … | xargs | imageoptim` rather than `find … | xargs imageoptim`?

Please add some more info/context and I'll do my best to help, thanks.

[2015-12-23 12:38] JamieMason commented on #102
This hook was kindly given to use by @MSch in pull #82, maybe he can help us?

[2015-12-23 12:40] GregOriol commented on #108
Well, I don't remember exactly how many files, it was a long time ago (in a galaxy far far away), could have been like 2000

I read this about AppleScript timeouts: http://stackoverflow.com/questions/22446276/applescript-apple-event-timed-out => seems to have a default value of 2min, maybe it could be extended depending on the number of files? (number of files * 5sec ?)

[2015-12-23 12:41] JamieMason commented on #95
Closing as duplicate of #68.

[2015-12-23 12:41] #95 closed

[2015-12-23 12:42] JamieMason commented on #68
Note: there is also some useful info in duplicate issue #95.

[2015-12-23 12:44] vitorgalvao commented on #112
No, you don’t pipe from [`xargs`](https://en.wikipedia.org/wiki/Xargs), but to it. The example I gave is correct, and that link explains well what it does.

You may close this if you want, though. I’ve since started using the ImageOptim app for this directly since it behaves correctly in this situation.

[2015-12-23 12:45] JamieMason commented on #108
Thanks @GregOriol, that link is really useful and the exact number wasn't important, just a ballpark figure.

[2015-12-23 12:47] JamieMason commented on #112
Thanks @vitorgalvao, my inexperience with `xargs` is showing here. I'll leave this open as it sounds like something that should be supported, so you can also run those images through imagealpha and JPEGmini.

Thanks for the link, that will be useful.

[2015-12-27 14:24] MSch commented on #102
Sorry, I'm no shell wizard either. Is it possible to use `xargs`?

[2016-01-20 17:59] michaelhebert commented on #102
Here's what seems to work:
[code]

[2016-01-29 17:50] Horttcore opened #120 "Optimize recursive directories?"
Hi there,

great tool!

How does it optimize directories recursive?

Cheers Ralf

[2016-01-29 17:56] JamieMason commented on #120
Thanks @Horttcore,
Whenever a directory is passed into ImageOptim-CLI it optimises every image within it using [this `find` command](https://github.com/JamieMason/ImageOptim-CLI/blob/master/bin/imageOptimBashLib#L286-L292), so directories within directories get included that way.

Is that what you were asking about?

[2016-01-29 18:14] Horttcore commented on #120
Not exactly, here is an example if I try to optimize a WordPress upload folder.

Folder structure is

…
uploads/2015/11
uploads/2015/12
uploads/2016/01
…

`➜  wp-content git:(master) imageoptim --directory uploads
sort: string comparison failed: Illegal byte sequence
sort: Set LC_ALL='C' to work around the problem.
sort: The strings compared were `UPLOADS/2015/04/MOTIV\302\200\223MINIQEE-480X195.J

[2016-01-29 18:19] JamieMason commented on #120
Could you tell me some more about the block starting with `➜` please?

[2016-01-29 18:20] Horttcore commented on #120
Ah thats just because I use ohmyzsh

[2016-01-29 18:26] JamieMason commented on #120
I've not used ohmyzsh before, I couldn't say whether ImageOptim-CLI supports that.

The directory structure `UPLOADS/2015/04/MOTIV\302\200\223MINIQEE.JPG` which mixes `/`s and `\` isn't something I've ever seen before, is that valid? That could be the cause.

[2016-02-01 21:29] allbitsnbytes commented on #87
Hi Jamie,

I experienced this issue today.  I did an echo on $TMPDIR and saw that in my shell it ends with a /.  Line 26 in bin/imageOptimBashLib is the culprit.

[2016-02-09 20:21] JamieMason commented on #87
Thanks @allbitsnbytes :+1:

[2016-02-09 20:47] JamieMason commented on #102
This should be fixed in the docs for imageoptim-cli@1.14.8, thanks to https://github.com/JamieMason/ImageOptim-CLI/pull/104

[2016-02-09 20:47] #102 closed

[2016-02-09 20:49] JamieMason commented on #87
This should be fixed in imageoptim-cli@1.14.8.

[2016-02-09 20:49] #87 closed

[2016-02-09 20:50] JamieMason commented on #109
imageoptim-cli@1.14.8 released, please reopen if this issue still stands.

[2016-02-09 20:50] #109 closed

[2016-02-09 20:50] JamieMason commented on #96
This should be fixed in imageoptim-cli@1.14.8 by the fix for #87.

[2016-02-09 20:50] #96 closed

[2016-02-09 20:51] #120 closed

[2016-02-11 13:26] jhebb commented on #96
@JamieMason I upgraded to 1.14.8 but still get this error - seems to be specifically when I run it on files on my desktop. Running it elsewhere works great.

[2016-02-11 14:12] JamieMason commented on #96
@jhebb could you experiment and see if it only happens in that dir with particular flags set? Or if it just happens at all times when run from there?

[2016-02-12 09:52] JamieMason opened #121 "404: Enable access for assistive devices in OS X Yosemite."
"Enable access for assistive devices in OS X Yosemite." link in README is a 404.

[2016-02-12 09:53] JamieMason commented on #121
Add El Capitan link as well: https://support.apple.com/kb/PH21504?locale=en_US&viewlocale=en_US

[2016-02-12 14:34] jhebb commented on #96
Different flags don't seem to matter. I tried:

find *.jpg | imageoptim -j -q
find *.jpg | imageoptim -j
find *.jpg | imageoptim
find *.jpg | imageoptim -q
imageoptim -d ~/Desktop
imageoptim -j -q -d ~/Desktop
etc

[2016-02-12 14:35] jhebb commented on #96
Not a big deal for me, everything still runs fine and works.

[2016-02-12 16:36] JamieMason commented on #96
OK thanks. Will leave this closed

[2016-02-27 15:20] domainxh commented on #109
Just noticed my Jpegmini on macbook air stop running. I can't even get it to launch, after clicking on the icon, the icon jumps once but nothing happen afterwards. Any ideas?

[2016-02-27 15:29] JamieMason commented on #109
@domainxh based on only what you've written there, that sounds like you have an issue with JPEGmini itself, I would contact the makers of that app. Thanks.

[2016-04-05 07:32] JamieMason opened #122 "Check out shellcheck"
https://github.com/koalaman/shellcheck

[2016-06-01 13:37] sogen opened #123 "How to run image-alpha to reduce to 32 colors?"
Also, how to use the -m command?

[2016-06-01 14:47] JamieMason commented on #123
Hello, this sets the setting in pngquant – from the docs at https://pngquant.org;

[code]

Hope this helps, thanks.

[2016-06-01 14:47] #123 closed

[2016-06-01 21:48] sogen commented on #123
thanks

[2016-07-11 07:51] stefanuswjy opened #124 "Manual Installation"
Basically, I'm a designer with a limited understanding of coding. I've follow your instructions about manual installation and usage. But, it didn't work. The terminal says the `-bash: imageoptim: command not found`

![imageoptim 1](https://cloud.githubusercontent.com/assets/20393960/16723297/4edaf98c-4776-11e6-8a24-0771e5200675.jpg)
![imageoptim 2](https://cloud.githubusercontent.com/assets/203939

[2016-07-11 08:12] stefanuswjy opened #125 "Command not found"
Basically, I'm a designer with a limited understanding of coding. I've follow your instructions about manual installation and usage. But, it didn't work. The terminal says the `-bash: imageoptim: command not found`

![imageoptim 1](https://cloud.githubusercontent.com/assets/20393960/16723297/4edaf98c-4776-11e6-8a24-0771e5200675.jpg)
![imageoptim 2](https://cloud.githubusercontent.com/assets/203939

[2016-07-11 08:19] JamieMason commented on #124
Sorry about this @stefanuswjy, it appears the manual installation instructions are not correct.

Please try the following;

[code]

[2016-07-11 08:34] #125 closed

[2016-07-11 08:58] stefanuswjy commented on #124
Hi @JamieMason , is it correct that the folder should arranged like this?
![folder iamgeoptim](https://cloud.githubusercontent.com/assets/20393960/16725135/1b85175c-4780-11e6-9037-553b87f92e1c.jpg)

and, what the 4th step mean? i still dont get it :( `# add this new folder to where terminal looks for programs to run export PATH=$PATH:"$PWD/bin"`

[2016-07-11 09:18] JamieMason commented on #124
I think you might have run some of the commands from the wrong location – the commands we're running are relative to the current folder your terminal is in at the time.

Delete that imageoptim-cli folder and let's try it with absolute paths;

[code]

can you run `echo $PATH` and show me what it says please?

[2016-07-11 09:20] JamieMason commented on #125
Duplicate of #124

[2016-07-11 09:22] stefanuswjy commented on #124
it says:
![echo path](https://cloud.githubusercontent.com/assets/20393960/16725879/a205f53c-4783-11e6-87a3-b1eb9983dd89.jpg)

[2016-07-11 09:33] JamieMason commented on #124
Open up `~/.bash_profile` and add somewhere in that file;

[code]

Then restart your Terminal.

If it worked, if you run `imageoptim -v` it should show the version 1.14.8.

[2016-07-11 11:19] JamieMason commented on #124
Please let me know if this worked so I can close the issue or give you more help @stefanuswjy.

[2016-07-11 14:05] stefanuswjy commented on #124
Hi @JamieMason , i'm stuck on the `move the files from our version folder up into ~/imageoptim-cli` it says **No such file or directory** and also when i open up `~/.bash_profile`, it says **No such file or directory** too.

[2016-07-14 10:42] JamieMason commented on #124
I think the simplest thing would be to download https://nodejs.org 6.3.0 and then run `npm install -g imageoptim-cli` in your Terminal.

This avoids the technical aspects of going the manual route.

[2016-07-15 07:49] stefanuswjy commented on #124
yeahhh, it worked !!! Thankyou @JamieMason :)

![success](https://cloud.githubusercontent.com/assets/20393960/16867015/8f58cc34-4a99-11e6-87dd-670eb83e0d25.jpg)

btw, does the imageoptim-cli has expired date? or i can use it continuously?

[2016-07-15 07:53] JamieMason commented on #124
great 😄

No expiry or anything. If a new version of imageoptim-cli is released and you want to update your copy, you can just run `npm install -g imageoptim-cli` again to get the new version.

[2016-07-15 07:53] #124 closed

[2016-07-15 07:55] stefanuswjy commented on #124
Thanks a lot @JamieMason . This imageoptim-cli would be my lifesaver :)

[2016-07-15 07:56] JamieMason commented on #124
great to hear, thanks @stefanuswjy.

[2016-08-01 01:49] jeffmcneill commented on #121
Yes, the Yosemite link is still a 404, but the instructions in the link to Mavericks still works and has screen shots. The El Capitan link is text-only, but again, the procedure hasn't changed. Suggest removing the Yosemite link to klabouche.com and also simply remove the word "Mavericks" from the link text to the Apple support page. That will work for everyone.

[2016-08-04 14:04] jippi opened #126 "include mozjpeg in benchmark"
Hi

Would it be possible to include `mozjpeg` ( https://github.com/mozilla/mozjpeg ) to the comparison ? :)

[2016-08-04 14:07] jippi commented on #126
slightly relevant to #77

[2016-08-04 14:08] JamieMason commented on #126
Hey @jippi,
a newer version of the comparison has moved to;

+ http://jamiemason.github.io/image-optimisation-tools-comparison
+ https://github.com/JamieMason/image-optimisation-tools-comparison

I've been busy with some other projects but plan to return to it, if you could create a pull request there it would be a great help to us all.

I will close this one here in the meantime, thanks.

[2016-08-04 14:08] #126 closed

[2016-08-31 13:30] qrpike commented on #115
Any luck on this?

[2016-09-22 03:57] shannonchou opened #127 "ImageOptim-CLI not working. "**imageoptim-cli/png: No such file or directory""
shannon$ imageoptim -a -c -d .
sort: string comparison failed: Illegal byte sequence
sort: Set LC_ALL='C' to work around the problem.
sort: The strings compared were `./IMAGES.XCASSETS/ZANH_NIGHT.IMAGESET/1ɦ\226ɡ\234ICON_09@2X.PNG' and`./IMAGES.XCASSETS/ZANH_NIGHT.IMAGESET/1ɦ\226ɡ\234ICON_09@3X.PNG'.
Running ImageAlpha...
find: /var/folders/y5/kxqqgdz53hj40k6019j89vt00000gp/T/imageoptim-cli/png: N

[2016-10-17 16:21] adrianmihalko opened #128 "JpegMini doen't work"
Hi,

I am trying to run ImageOptim-CLI under Sierra, but I got error:

`/usr/local/bin/imageOptimAppleScriptLib:3009:3085: execution error: System Events got an error: Can’t get text field 1 of sheet 1 of sheet 1 of window 1 of process "JPEGmini". Invalid index. (-1719)`

Terminal access was enabled in Security&Privacy

[2016-10-27 09:31] Anthony-Reboul commented on #128
Same problem here. I think it comes from the new macOS (Sierra). Last opened ticket on this problem : https://github.com/JamieMason/ImageOptim-CLI/issues/106

[2016-10-31 20:46] maxwellhibbert opened #129 "JPEGmini gets stuck at "Go to Folder:" (Sierra)"
imageOptim 1.14.8
JPEGmini Pro 1.9.8
macOS 10.12

JPEGmini is getting stuck on the file open dialogue with a input titled "Go to folder:" which has my user path inside. Then the script keeps going and tries ImageOptim.

I also get the same problem with grunt-imageoptim. I've not used ImageOptim-CLI or grunt-imageoptim in quite a while and not since updating to Sierra, so not sure if the new OS cre

[2016-11-02 09:28] JamieMason commented on #129
Thanks @maxwellhibbert,
I'm not on Sierra just yet but will pick this up in the next few weeks.

[2016-11-19 08:39] moerphie commented on #129
+1
same issue here. hope you can fix it soon, @JamieMason. :)

[2016-11-19 08:39] moerphie commented on #128
+1
same issue here.

[2016-12-18 22:17] #122 closed

[2017-01-04 13:23] ihackalot opened #130 "Wrong permissions on macOS Sierra"
Installed imageoptim globally via yarn and running it with the following command:
`imageoptim --image-alpha --quit --no-color --directory ~/tmp` returns:

[code]

[2017-01-04 16:49] JamieMason commented on #130
No worries

[2017-01-17 16:29] JamieMason commented on #129
I'm still not on Sierra but here is some information about the problem incase someone is able to help out before I can.

1. The affected code I think will be [these lines](https://github.com/JamieMason/ImageOptim-CLI/blob/master/bin/imageOptimAppleScriptLib#L114-L121).
1. I don't know for sure but my guess is that in Sierra the path `text field 1 of sheet 1 of sheet 1 of window 1` could be differe

[2017-01-17 16:32] JamieMason commented on #128
Thanks, I will close this as a duplicate of #129 so please subscribe to that issue.

[2017-01-17 16:32] #128 closed

[2017-01-17 16:37] JamieMason commented on #127
I'm not sure but here are a few questions/ideas;

+ Are `IMAGES.XCASSETS` or `ZANH_NIGHT.IMAGESET` regular file system directories? Or another kind of bundle format? If the latter it might be that ImageOptim.app is unable to access them.
+ You have a mix of back slashes and forward slashes in `./IMAGES.XCASSETS/ZANH_NIGHT.IMAGESET/1ɦ\226ɡ`, shouldn't they be all `/`?
+ The character `ɦ` _may_ not

[2017-01-17 16:42] JamieMason commented on #108
One approach could be to bundle the files into batches then process each bundle at a time, to limit the load on the .apps.

[2017-01-20 09:50] samny opened #131 "Can’t get application "ImageOptim""
I get this error on OSX Sierra: `15:47: execution error: Can’t get application "ImageOptim". (-1728)`

Do I need to install ImageOptim separately to use this tool?

[2017-01-20 10:01] JamieMason commented on #131
You do yes 👍

[2017-01-20 10:01] #131 closed

[2017-01-20 10:26] samny commented on #131
Ok, thanks

[2017-01-22 04:02] longvo55 opened #132 "Installed by npm, but command not found"
I have downloaded ImageOptim (https://imageoptim.com/mac) ImageAlpha (https://pngmini.com) and JPEGMini Pro, they're all in my Applications, added JPEGMini Pro to Accessibility . Then I installed ImageOptim-CLI via npm install -g imageoptim-cli. When I ran the command imageoptim I get:
-bash: imageoptim: command not found

echo $PATH
/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr

[2017-01-22 11:51] JamieMason commented on #132
are you able to install and use other npm global packages? `npm install -g npm-check-updates` then `ncu --version` for example.

[2017-01-26 01:02] pablonnaoji commented on #132
@JamieMason Im also having the same issue as longvo55. When I install npm-check-updates to test I get an accurate version (2.8.9). Is there a fix for this npm install issue?

[2017-01-27 17:42] pablonnaoji commented on #132
If your running this on a Linux server - as I was - server compatibility may be the issue here.

[2017-01-30 10:34] JamieMason commented on #132
Thanks @pablonnaoji, I suspect that might be a different issue to @longvo55 though? with @longvo55 using OSX.

[2017-01-30 15:49] JamieMason commented on #132
Please re-open when you have more info @longvo55 and we'll be happy to help 👍

[2017-01-30 15:49] #132 closed

[2017-02-05 18:15] #129 closed

[2017-02-05 18:19] #127 closed

[2017-02-06 13:21] paleite opened #135 "Wrong version number"
Installed, 1.14.9, but running
`imageOptim --version`
yields
1.14.8

I think this may be the culprit: https://github.com/JamieMason/ImageOptim-CLI/blob/master/bin/imageOptimBashLib

[2017-02-06 13:34] JamieMason commented on #135
Agh, thanks @paleite I'll get this sorted – it's been a while since I did a release and I forgot this step.

[2017-02-07 02:08] maxwellhibbert commented on #129
You're a champion!
Will this update make it to the grunt version eventually?

[2017-02-07 14:22] JamieMason commented on #129
Thanks goes to @stefancrain for sorting this. I've just released 1.4.3 of grunt-imageoptim.

[2017-02-11 01:06] jvolker opened #136 "Optimise an array of images from Node.js"
I would like to do optimisations of multiple images in an array from Node.Js. ImageOptim-CLI currently only allows to scan whole directories. So is there a way to pass the array of file paths to ImageOptim-CLI?

Thanks!

[2017-02-11 12:08] JamieMason commented on #136
Please see the heading "Optimise a filtered set of images" in the README.md. This project is a bash script so you would need to invoke it via child_process in the usual way. Thanks @jvolker 👍

[2017-02-11 12:08] #136 closed

[2017-02-12 03:46] jvolker commented on #136
Thanks for your answer!

So there is no direct way of passing an array or list of files to the script? It always has to be run through `find`?

Thanks in advance.

[2017-02-12 08:49] JamieMason commented on #136
you got it!

[2017-02-21 02:58] raduc opened #137 "No such file or directory"
I am getting this error:
.../bin/imageOptimBashLib: line 284: /tmpimageoptim-cli/index.txt: No such file or directory

This is caused by the concatenation:
TEMP_PATH="${TMPDIR}imageoptim-cli"

At least on my systems TMPDIR is /tmp so it causes a concatenation issue.
I understand the slash was removed here: https://github.com/JamieMason/ImageOptim-CLI/issues/87
But then it should use a proper path

[2017-02-21 17:07] 75th opened #138 "Fatal error when --directory path has an em-dash"
Just got this fatal error, which was fixed when I changed the em-dash in a folder name to a hyphen.

[code]

[2017-02-21 17:17] 75th commented on #68
I had this issue when running the `-s` flag, because it seemed like a good idea. But with that flag, "Running ImageAlpha" was *immediately* followed by "Running ImageOptim", when it could not have possibly determined that about the 60 large PNG files I was running the script on. Removing the `-s` flag made it seemingly work normally.

[2017-02-28 08:25] neikei commented on #132
I had the same issue and found the root cause for my Debian 8.7 server. You have to start the commandline tool with an upper O in the name. Check the following example:

`root@lemp-playground:~# imageoptim -v
-su: imageoptim: command not found
root@lemp-playground:~# imageOptim -v
1.14.8`

[2017-03-03 12:13] jamesstout opened #140 "ImageOptim always quits"
There is a [flag](https://github.com/ImageOptim/ImageOptim/blob/master/imageoptim/main.m#L24) in the ImageOptim code that determines if the app should quit when done:

[code]

This is always set to true due to the call to ImageOptim in [ImageOptimBashLib](https://github.com/JamieMason/ImageOptim-CLI/blob/master/src/imageOptimBashLib#L454):

[code]
The `"${TEMP_PATH}"` is the arg that sets `quitWhe

[2017-03-03 12:30] pornel commented on #140
What would be your preferred behavior?

[2017-03-29 10:38] tushar7sharma opened #141 "Add default min-quality setting to README (pngquant)"
What is default min compression setting for pngquant (ImageAlpha) ?

[2017-04-05 23:15] scarstens opened #142 "Bad data in optim vs alternative graph"
I'm not sure how or where you got your data from, but I've used all these services and clearly I'm getting different results from the same image you posted you tested against:
![image](https://cloud.githubusercontent.com/assets/1483300/24730854/0df5a3fe-1a1b-11e7-9803-80ad760bac3d.png)
 TinyPNG clearly superior.

[2017-04-06 07:13] JamieMason commented on #142
I'm not sure how or where you learnt discourse, but regardless I'll respond politely.

It's some time since i ran the comparison and over time each tool releases improvements, so the results can get out of date. Thanks for pointing this out, i will find some time to run them again and see where each tool stands.

[2017-04-26 08:34] eighteentee opened #143 "JPEGMini refuses to accept shortcuts"
Running ImageOptim with the -j or --jpeg-mini flags causes JPEGMini to start but not do anything. You can hear 'dings' and the simulated keypresses are sent to the app but nothing happens. This is with both Terminal.app and JPEGMini.app added to the security section of the Control Panel. No such problem with ImageOptim.app though. Running OSX 10.11.6

[2017-04-26 08:53] JamieMason commented on #143
When I have time I plan to rewrite this project and handle this but if there are any message windows shown by JPEGmini they will need manually clicking off at the moment, they should only need dismissing once and then will not be shown again.

Is this the case with you?

[2017-04-26 08:55] eighteentee commented on #143
Hi Jamie,

Thanks for the quick reply!

No, basically JPEGMini fires up but nothing happens, although you can hear the ‘ding’ sounds of failed keypresses. I notice that bringing up the File menu in JPEGMini shows the ‘open’ option greyed out...

Kind regards,

Phill Horrocks
Marketing Director
H&I Ltd
Auctioneers | Valuers | Asset Disposal

Office: 01200 44 33 66
Mobile: 07515 384 160
Skype: phill

[2017-04-26 08:57] JamieMason commented on #143
I've not seen this before, what is the version number of JPEGmini please? Maybe this is something new.

[2017-04-26 09:06] eighteentee commented on #143
It's v 1.9.0 Build 96

[2017-04-27 08:24] eighteentee commented on #143
The word is that there is no cmd+o to open an 'open' dialogue in the newer versions...

[2017-04-27 08:55] JamieMason commented on #143
Disabling cmd+o will make it difficult (probably impossible) to automate their UI 👎

[2017-05-02 14:47] stefancrain commented on #143
I have version 1.9.9 build 121 and I see the **cmd+O** menu option, maybe an upgrade could help?
![screen shot 2017-05-02 at 10 44 31 am 2](https://cloud.githubusercontent.com/assets/330720/25623202/8e7728fe-2f24-11e7-9b66-5ebd539eb74d.png)

[2017-05-05 09:22] JamieMason commented on #143
have you had time to try 👆🏻 @eighteentee?

[2017-05-05 09:29] eighteentee commented on #143
Yes, upgraded to the Pro version and it works A-OK. Just one question; is JPEGMini Pro meant to close when it's finished or just remain open? It remains open for me - not sure if this is right?

[2017-05-05 09:39] JamieMason commented on #143
I think you'll just need;

[code]

[2017-05-05 09:55] eighteentee commented on #143
Yep! That did it! Perfecto

[2017-05-17 08:27] #143 closed

[2017-05-17 08:29] JamieMason commented on #138
Thanks for this @75th and sorry for the delay, I'll look into this.

[2017-05-17 08:29] JamieMason commented on #137
Thanks for this @raduc and sorry for the delay, I'll look into this.

[2017-05-17 08:30] JamieMason commented on #140
\*poke\* @jamesstout

[2017-05-17 09:17] JamieMason commented on #141
Sorry for the long wait @tushar7sharma. It is 75, I will add this to the README.

[2017-05-17 09:18] #142 closed

[2017-05-31 12:49] jamesstout commented on #140
Maybe a flag that gets checked first that says "don't quit when done"?

[code]
Or if you want to stick with C strings:
[code]

[2017-05-31 13:09] jamesstout commented on #140
Option 1: https://github.com/ImageOptim/ImageOptim/compare/master...jamesstout:dont-quit-when-done
Option 2: https://github.com/ImageOptim/ImageOptim/compare/master...jamesstout:dont-quit-when-done-cstring

[2017-05-31 14:12] pornel commented on #140
I'm not interested in implementation part. "Not quitting" can be done even easier by deleting all the qutting logic I've deliberately put in there.

I'm more interested in understanding *why* quitting is a problem, and how do you want ImageOptim to behave.

Note that when it's launched directly from CLI, it crates multiple copies. If you run it 20 times, you'll have 20 ImageOptim windows sitting i

[2017-05-31 16:13] jamesstout commented on #140
Yeah, thinking about it, if imageOptim doesn’t exit then Jamie’s imageOptimBashLib doesn’t know imageOptim has finished.

Really, I just noticed that the -q option in imageOptim-CLI doesn’t work, or rather, if you don’t provide that arg, then imageOptim still quits, and I wondered why. Not really thinking about how it should behave.

Quitting isn’t a problem, in fact as it stands, it has to quit.

[2017-05-31 19:25] jamesstout commented on #140
Here's a version that doesn't quit if you don't pass the -q arg. Not sure if you want to change things at this point, but I just **_had_** to figure it out :)

https://github.com/JamieMason/ImageOptim-CLI/compare/master...jamesstout:dont-quit-when-done

[2017-06-12 09:46] Anthony-Reboul commented on #129
I still have the same issue with imageoptim-cli 1.14.9. My jpegmini pro version is 1.9.8 and I'm running on masOS Sierra.

Does anyone else have the same problem with 1.14.9 version ?

[2017-06-12 14:38] awebdeveloper opened #145 "How to run on one file"
running doesn't work

`imageoptim  --quit --no-color --image-alpha ica-slidebox-img-2-2-4.png`

but this works

`find 'ica-slidebox-img-2-2-4.png'  |  imageoptim  --quit --no-color --image-alpha --min-quality 60
`

[2017-06-12 14:41] JamieMason commented on #145
Thanks for sharing @awebdeveloper 👍

[2017-06-12 14:41] #145 closed

[2017-06-12 14:42] awebdeveloper commented on #145
my question was why doesn't this support single file

[2017-06-12 14:45] JamieMason commented on #145
The 2nd snippet matches the documentation example https://github.com/JamieMason/ImageOptim-CLI#optimise-a-filtered-set-of-images but the first does not match any of the examples. Either files are piped into `imageoptim` or a directory is passed in via `-d path/to/images` or `--directory path/to/images`.

[2017-06-12 14:47] awebdeveloper commented on #145
don't you think adding a option to support single image is needed

[2017-06-12 14:56] JamieMason commented on #145
Thanks @awebdeveloper, but it's already possible to optimise single files using `imageoptim`. The way this can be achieved is via piping. The number of options is already very large and I don't want to add another for existing functionality.

Related: #73, #80.

[2017-06-20 05:33] nick1Jian opened #146 "supprot for changing imageOptim config"
For now it still need to change ImageOptim config manually.
Can you support apply config with command? or some file input?
It will be handy if need to apply different config on sets of images.

[2017-06-20 11:04] JamieMason commented on #146
Can you add some examples of what this would look like when using it? I don't know quite what you mean.

Thanks

[2017-06-20 14:52] jamesstout commented on #112
I can have a look at this one. Quick q though, why do you want to null terminate the list from the find command? Is there a special case? thanks

[2017-06-20 20:02] vitorgalvao commented on #112
@jamesstout Filenames are full of surprises. Piping from `find` to `xargs` should always be done that way. Look at their respective `man` pages and you’ll see they both acknowledge this — the options were essentially made for each other.

[2017-06-21 05:39] jamesstout commented on #112
I had a stab at this last night. Tricky. When invoked via `xargs`, all the files are passed to `imageoptim` along with any `imageoptim` args. So, you'd need:

1. To know if you were invoked via `xargs`
2. If so, process the args in a different way to strip out files vs command args

There are ways to tell if you are in a sub-shell, or part of a command expansion, or an interactive shell, but I cou

[2017-06-21 06:32] nick1Jian commented on #146
For example, you have two set of image, one set have to optimized to quality set to lossy 90% and another to be lossy 50%. Different set of image will be use on different site.

Currently, when you are to set different quality, you have to open ImageOptim and change the config from setting panel. If we can have change quality setting in command line, we can have some script that optimize two set o

[2017-06-21 08:07] JamieMason commented on #146
Oh I see, you're asking for options to be added to ImageOptim-CLI to edit the following from ImageOptim.app.

![screen shot 2017-06-21 at 09 03 30](https://user-images.githubusercontent.com/320492/27373526-8d7b0606-5660-11e7-9d7a-24d2e68f6e45.png)

I don't think those are exposed by the [ImageOptim binary](https://imageoptim.com/command-line.html), but I will revisit if they get added in the futur

[2017-06-21 08:07] #146 closed

[2017-06-21 09:44] nick1Jian commented on #146
I don't think it's expose neither and I did not find a easy way to change that. Maybe we can replace the config file somewhere. Thank you for reading my request. ;)

[2017-06-21 09:55] vitorgalvao commented on #112
[To reiterate, if I’m the only one asking for this, feel free to close it](https://github.com/JamieMason/ImageOptim-CLI/issues/112#issuecomment-166887737).

That said, being piped from `xargs` is expected behaviour from *nix CLI utilities.

[2017-06-21 11:24] jamesstout commented on #119
Quick PR to address this: #147

[2017-06-21 13:03] jamesstout commented on #68
Just tried this with v1.14.9, with the -s param...

I used a little function to check for CPU utilisation by `pngquant`:

[code]
Then started imageoptim in one window, then the function in another:

`./bin/imageoptim  -a -s  -d /Users/james/Desktop/png
`

It hasn't finished running yet (108 large pngs)

`pngquant` ran, and finished, here's that window:

[code]
So, about 1 min 59 s for `pngquant`

[2017-06-21 13:06] jamesstout commented on #68
without the `-s` worked too. Same time, 2 mins.

[2017-06-29 20:27] JamieMason opened #148 "Permission denied when rm'ing $TMPDIR/imageoptim-cli"
When running `imageOptim`

[code]

Then even when trying to remove the folder yourself;

[code]

[2017-06-29 20:31] JamieMason commented on #135
The version number is correct again in [1.15.1](https://github.com/JamieMason/ImageOptim-CLI/blob/master/CHANGELOG.md#1151-2017-06-29). Thanks for reporting this.

[2017-06-29 20:31] #135 closed

[2017-06-29 20:33] JamieMason commented on #119
Released in [1.15.1](https://github.com/JamieMason/ImageOptim-CLI/blob/master/CHANGELOG.md#1151-2017-06-29) 🎉 Thanks to @jamesstout

[2017-06-29 20:33] #119 closed

[2017-06-29 20:35] JamieMason commented on #68
Can this be closed @jamesstout? Did you find pngquant _is_ being run?

[2017-06-30 08:05] jamesstout commented on #68
Yes, it's being run. I couldn't replicate it not running.

On 30 Jun 2017, 4:35 AM +0800, Jamie Mason <notifications@github.com>, wrote:

[2017-06-30 08:06] #68 closed

[2017-07-03 07:31] awebdeveloper opened #149 "Help with Pre-commit hook"
I am trying to creating a pre-commit hook for this and i am stuck. The lack of filename as an arg is the contention. If you could chip in with any help it will be great

Here is the conversation where you can pitch in
https://github.com/pre-commit/pre-commit/issues/547

and here is the repo
https://github.com/awebdeveloper/pre-commit-imageoptim

[2017-07-05 09:13] awebdeveloper commented on #149
Reopening to see if you can provide any help/comment

[2017-09-04 13:34] JamieMason opened #150 "Dismiss JPEGmini Welcome Panel"
This can be achieved with a new `if` statement at the start of the [`tell process JPEGMINI_APP_NAME`][code-scope].

There's an App called [UI Browser][ui-browser] which lets you click on bits of the OSX UI and inspect them, a little bit like the Elements panel of Chrome DevTools. Using this will let you detect whether the Welcome panel is visble and, if it is, dismiss it by clicking on something.

[2017-09-04 13:34] JamieMason opened #151 "Dismiss JPEGmini Registration Panel"
This can be achieved with a new `if` statement at the start of the [`tell process JPEGMINI_APP_NAME`][code-scope].

There's an App called [UI Browser][ui-browser] which lets you click on bits of the OSX UI and inspect them, a little bit like the Elements panel of Chrome DevTools. Using this will let you detect whether the Registration panel is visble and, if it is, dismiss it by clicking on someth

[2017-09-09 16:10] bobbyshaw commented on #115
Install ImageOptim first: https://imageoptim.com/

[2017-09-16 21:03] MoOx opened #152 "JPEGmini gets don't get the proper value at "Go to Folder:" part on macOS 10.13"
Looks similar to #129 with a variation.

The value in "Go to Folder" modal is not update with the --directory so it keeps the previous Finder "go to folder" field (in my case a random folder on my OS that have no images) so JPEGmini is actually not doing any work.
ImageOptim itself is working (and optimising some images).

I am using macOS 10.13 GM version FYI but got this issue since I use macOS

[2017-09-19 09:20] JamieMason commented on #152
Thanks a lot @MoOx

[2017-09-21 16:04] stefancrain commented on #152
10.13 is released, I'm downloading and should be online soon - @JamieMason I can tackle this.

[2017-09-27 08:57] paleite commented on #152
Thanks @stefancrain ! Looking forward to the new version

[2017-09-28 09:26] paleite commented on #149
@awebdeveloper Maybe not what you're looking for, but you could have a shell-script like so:
`echo "$1" | imageoptim --jpeg-mini --quit`

and call it from the pre-commit hook, like so: `sh imageoptim.sh FILENAME`

[2017-09-28 11:09] #149 closed

[2017-09-28 11:17] awebdeveloper commented on #149
thanks @paleite  i managed to fix it.

If you can help me find a way to pass args then help me here

https://github.com/awebdeveloper/pre-commit-imageoptim/issues/1

[2017-09-28 13:26] paleite commented on #152
@stefancrain Anything I could do to help with this? Thanks in advance!

[2017-09-28 13:36] stefancrain commented on #152
@paleite I just got the OS installed yesterday, something causing the download to suspend and not resume when my PC went to sleep made it problematic... But I can test this now!

Basically my steps are going to be review the code in the section as pointed out by @JamieMason last time [this message](https://github.com/JamieMason/ImageOptim-CLI/issues/129#issuecomment-273220318) and make sure we hav

[2017-09-28 13:38] JamieMason commented on #152
Thanks a lot you two, I'm away on holiday from tomorrow for a week so you won't hear from me in the meantime.

[2017-10-12 08:59] paleite commented on #152
Sorry I hadn't had the time to do this earlier, but the fix is here. I used the tool @JamieMason referenced before: http://pfiddlesoft.com/uibrowser/index-downloads.html

Thanks for a great tool (imageOptim-cli), guys!

[2017-11-14 10:47] #121 closed

[2017-11-14 10:47] #152 closed

[2017-11-17 02:58] jtylermurphy commented on #152
Running imageoptim-cli v1.15.3 on Mac OS 10.13.1 - Jpegmini still doesn't get the directory value in the Go To Folder. it just runs on whatever the last folder Jpegmini used.

[2017-11-17 13:18] paleite commented on #152
@jtylermurphy Are you running JPEGmini 2.1.0?

[2017-11-17 13:49] jtylermurphy commented on #152
2.1.0 (build 136)

I played around with it some later and edited the file imageOptimAppleScriptLib on lines 126, 127 and 129 to only have one "of sheet 1" and that fixed the issue.

[2017-12-06 05:54] klick opened #158 "Savings very little"
Thank you for this tool.

I noticed that optimizations are very small, only about 7 to 10% while optimizing with the jpeg mini app the standard way the results are more drastic (around 70%) for the same image.

Am I missing something?

[2017-12-06 08:58] JamieMason commented on #158
Thanks @klick, I will investigate this when I next come to work on ImageOptim-CLI. At the moment it is behind other projects I'm working on but I do plan to do a rewrite and will include this in that.

[2017-12-06 17:19] pornel commented on #158
I think it's because of lossy setting. JPEMini reduces quality. By default, ImageOptim doesn't. You can get 70-90% saving with ImageOptim by enabling lossy minification option.

[2017-12-07 13:48] klick commented on #158
Where/how do i do that? It’s not listed as an option.

[2017-12-07 13:56] JamieMason commented on #158
From Preferences Menu:
![screen shot 2017-12-07 at 13 53 35](https://user-images.githubusercontent.com/320492/33718636-0d0507ee-db56-11e7-8f3f-97ce94414d4f.png)

I just want to check I understand this issue properly, how I understood it was that you ran imageoptim-cli using the jpeg-mini option and noticed in the JPEGmini.app that the savings were around 70%, but in the log output from imageoptim-

[2017-12-07 14:01] klick commented on #158
This. Also using the jpegmini option opens jpegmini, triggers the open-dialogue but does not do anything before handing over to the CLI again. In any case savings are around 10%.

Maybe I am missing something or just don’t understand it. I can’t find a “ImageOptim” Preference-Pane. Is it an app after all?

[2017-12-07 14:03] klick commented on #158
Alright. Found the app, checked the lossy option and now everything works as expected. I am stupid.

[2017-12-07 14:03] JamieMason commented on #158
ah. great! I was just about to explain – beat me to it :)

[2017-12-07 17:33] #158 closed

[2018-02-21 08:18] nebulousdog commented on #111
I'm seeing the same thing. I installed via yarn, and am on Ubuntu Studio.

[code]

[2018-02-21 22:51] kornelski commented on #111
ImageOptim-CLI is a macOS app. It does not work on Ubuntu.

[2018-03-21 10:29] okovpashko commented on #145
@JamieMason what can you suggest if I want to use imageoptmi-cli together with lint-staged? It simply provides a list of matched files as the arguments for the desired command but imageoptmi-cli doesn't recognize them.

[2018-03-21 10:43] JamieMason commented on #145
hey @okovpashko, I've not used lint-staged but I would check with them if its output can be piped into other shell commands in the same way as eg. `find`. If it can then it should be compatible with other bash scripts such as imageoptim-cli 🤞

[2018-03-21 10:51] okovpashko commented on #145
@JamieMason thank you. Maybe do you know how to grab the arguments and pass them as stdin to another command in one line using Bash?

[2018-03-21 10:53] JamieMason commented on #145
I'm sorry @okovpashko I don't know that.

[2018-05-08 06:02] JamieMason commented on #148
Opening the folder in Finder and deleting it from there is a workaround.

[2018-05-13 15:10] JamieMason commented on #138
Thanks @azusa-tomita, released then in 1.15.3.

[2018-05-13 15:10] #138 closed

[2018-05-13 15:12] #94 closed

[2018-05-13 15:35] #137 closed

[2018-05-13 15:35] #140 closed

[2018-05-13 15:35] #141 closed

[2018-05-13 15:35] #148 closed

[2018-05-13 15:47] JamieMason opened #160 "Read filenames from stdin"
Version 2.0.0 does not read files from stdin, this issue is to track reinstating it.

[code]

[2018-05-13 15:55] JamieMason opened #161 "Add --json option"
Add `--json` option to output stats in serialised JSON format.

[2018-05-13 16:03] JamieMason opened #162 "Output quality loss information"
## Types of Changes

What types of changes does your issue require? Put an `x` in all the boxes that apply:

* [x] **feat**: A new feature
* [ ] **fix**: A bug fix
* [ ] **docs**: Documentation only changes
* [ ] **style**: Changes that do not affect the meaning of the code
* [ ] **refactor**: A code change that neither fixes a bug or adds a feature
* [ ] **perf**: A code change that improves perf

[2018-05-13 16:34] kornelski commented on #162
I would advise against using IM's compare command. It only offers naive pixel-by-pixel comparison methods, which reward distortions that are blurry, and penalize good texture-preserving codecs.

In TID2013 benchmark these methods have 30-40% correlation with human judgement, while DSSIM achieves 94% on JPEG-like distortions: https://github.com/kornelski/dssim

[2018-05-14 08:48] nicolinuxfr opened #163 "Wrong path used to launch AppleScript scripts"
## Types of Changes

What types of changes does your issue require? Put an `x` in all the boxes that apply:

* [ ] **feat**: A new feature
* [x] **fix**: A bug fix
* [ ] **docs**: Documentation only changes
* [ ] **style**: Changes that do not affect the meaning of the code
* [ ] **refactor**: A code change that neither fixes a bug or adds a feature
* [ ] **perf**: A code change that improves perf

[2018-05-14 09:36] JamieMason commented on #163
this is the problem line https://github.com/JamieMason/ImageOptim-CLI/blob/3faa790f9088e5988eccb897a67111dd54d4f57d/src/applescript.ts#L14, I think using https://github.com/nexe/nexe to create a self contained executable is causing `__dirname` to not behave in the way I would expect. I'll get this fixed urgently.

[2018-05-14 09:49] nicolinuxfr commented on #163
Great news if you can fix it easily. :-)

[2018-05-14 09:50] JamieMason commented on #163
I seem to have it working locally, will release soon.

[2018-05-14 09:54] #163 closed

[2018-05-14 09:55] JamieMason commented on #163
Please give 2.0.2 a try and reopen if there are still issues, thanks.

[2018-05-14 10:01] nicolinuxfr commented on #163
Works great with 2.0.2, thanks for the quick fix ! 👍

[2018-05-14 10:02] JamieMason commented on #163
you're welcome Nicolas, it was a big one so it needed sorting ASAP 😄

[2018-05-16 13:26] JamieMason commented on #162
perfect, thanks @kornelski I will use that.

[2018-05-31 09:33] azusa-tomita opened #164 "Installation fails if repository url is specified for package.json"
## Types of Changes

What types of changes does your issue require? Put an `x` in all the boxes that apply:

* [ ] **feat**: A new feature
* [ ] **fix**: A bug fix
* [ ] **docs**: Documentation only changes
* [ ] **style**: Changes that do not affect the meaning of the code
* [ ] **refactor**: A code change that neither fixes a bug or adds a feature
* [ ] **perf**: A code change that improves perf

[2018-06-06 18:10] davidwolfpaw opened #165 "Flag to make recursive directory find optional"
Thanks for the CLI tool!

I think that it would be useful to have a flag to choose whether or not you recurse through directories to find images. There are times that I would like to optimize a folder, but not the subfolders.

[2018-06-07 09:48] JamieMason commented on #165
Thanks @davidwolfpaw.

This is missing from the examples but the following _should_ work, given this folder structure:

[code]

You could run the following to only optimise `images/yes-please.jpg` and not `images/sub-dir/no-thanks.png`.

[code]

Internally, ImageOptim-CLI uses https://github.com/isaacs/node-glob#glob-primer.

Please let me know if this works out.

[2018-06-07 12:54] JamieMason commented on #164
Closing as it's been a couple of days but please go ahead and reopen this if you need anything more 👍

[2018-06-07 12:54] #164 closed

[2018-06-13 12:12] JamieMason commented on #165
Please reopen if you still need anything, thanks.

[2018-06-13 12:12] #165 closed

[2018-07-04 13:17] rahulcbr opened #167 "Error while compressing images"
Getting Error on Mac whle runnning command
i Running ImageOptim...
! spawn /Applications/ImageOptim.app/Contents/MacOS/ImageOptim ENOENT

! Please raise an issue at https://github.com/JamieMason/ImageOptim-CLI/issues

    Error: spawn /Applications/ImageOptim.app/Contents/MacOS/ImageOptim ENOENT
        at Process.ChildProcess._handle.onexit (internal/child_process.js:217:19)
        at onErrorNT

[2018-07-04 13:50] JamieMason commented on #167
I will do some work to make the error message much clearer, but it looks like you do not have https://imageoptim.com/mac installed – ImageOptim-CLI automates that mac app so you will need to have it installed. Thanks.

[2018-07-08 10:53] #167 closed

[2018-08-18 19:25] jamesstout commented on #161
What sort of schema where you thinking of?

[code]

or

[code]

I've never done any TypeScript before, so I thought I'd learn a bit, so started on this: https://github.com/jamesstout/ImageOptim-CLI/tree/json-output

[2018-09-04 06:27] JamieMason commented on #161
Sorry for the wait @jamesstout, there is a shape in use at https://github.com/JamieMason/ImageOptim-CLI/blob/master/src/get-stats.ts#L5-L23 which I was just thinking of exposing a CLI option for writing to disk. There'd be some adjustments needed for adding in the quality loss info but I think that would be better picked up as part of https://github.com/JamieMason/ImageOptim-CLI/issues/162.

That

[2018-10-20 18:00] HReinard opened #168 "In macOS Mojave not working"
## Types of Changes

What types of changes does your issue require? Put an `x` in all the boxes that apply:

- [ ] **feat**: A new feature
- [ ] **fix**: A bug fix
- [ ] **docs**: Documentation only changes
- [ ] **style**: Changes that do not affect the meaning of the code
- [x ] **refactor**: A code change that neither fixes a bug or adds a feature
- [ ] **perf**: A code change that improves per

[2018-11-06 20:27] anuragkothari opened #169 "How does isaacs/node-glob handle filenames with parentheses "()"?"
**imageoptim-cli: 2.0.3
imageOptim: 1.8.1
OS Version: macOS Mojave 10.14.1**

imageoptim cli is not able handle / find file with parentheses in the name. This is very easily reproducible. I tried using both "" for the filenames as well as escaping them with back slash. The files are handled properly via the imageoptim GUI.

[code]

Not sure if I am missing something here?

[2018-11-15 11:08] JamieMason commented on #169
Hi @anuragkothari, these patterns are passed directly to https://github.com/isaacs/node-glob. I'm not sure but I think it may be that they represent invalid glob patterns.

[2018-11-15 11:11] JamieMason commented on #168
Thanks @HReinard. I think the fix for this will be very similar to that made by @paleite in #153, where the paths to UI Elements have changed from previous versions of macOs.

[2018-11-17 10:29] aforeman opened #170 "Command failed"
## Types of Changes

What types of changes does your issue require? Put an `x` in all the boxes that apply:

- [ ] **feat**: A new feature
- [X] **fix**: A bug fix
- [ ] **docs**: Documentation only changes
- [ ] **style**: Changes that do not affect the meaning of the code
- [ ] **refactor**: A code change that neither fixes a bug or adds a feature
- [ ] **perf**: A code change that improves perf

[2018-11-21 14:47] anuragkothari commented on #169
Hi @JamieMason,

Thanks a lot for your response and time.

Please excuse my ignorance of git and software development in general, here are few questions I have:

1. Does this mean it is by design?
2. if yes then any idea how / where can I find a way to escape the the parenthesis in the filename?
3. If no then do I have to raise an issue/bug/ticket with the [https://github.com/isaacs/node-glob](htt

[2018-11-22 17:49] glosik commented on #170
Getting similar (Mojave?):

 i Running ImageOptim...
! spawn /Applications/ImageOptim.app/Contents/MacOS/ImageOptim ENOENT
Error: spawn /Applications/ImageOptim.app/Contents/MacOS/ImageOptim ENOENT
        at Process.ChildProcess._handle.onexit (internal/child_process.js:217:19)
        at onErrorNT (internal/child_process.js:394:16)
        at process._tickCallback (internal/process/next_tick.js:

[2018-11-28 08:48] jcklpe commented on #132
Does this utility not work on linux?

[2018-11-28 09:32] neikei commented on #132
I don't think so, because this tool calls only three different MacOS tools.

But my test a year ago was only rudimentary.

[2018-11-29 16:30] HReinard opened #171 "spawn..."
## Types of Changes

What types of changes does your issue require? Put an `x` in all the boxes that apply:

- [ ] **feat**: A new feature
- [x ] **fix**: A bug fix
- [ ] **docs**: Documentation only changes
- [ ] **style**: Changes that do not affect the meaning of the code
- [ ] **refactor**: A code change that neither fixes a bug or adds a feature
- [ ] **perf**: A code change that improves per

[2018-12-22 13:04] HReinard commented on #171
macbook15:~ reinard$ imageoptim -j ~/Desktop/Fotos/*.*
i Running JPEGmini Pro...
i Running ImageOptim...
! spawn /Applications/ImageOptim.app/Contents/MacOS/ImageOptim ENOENT

! Please raise an issue at https://github.com/JamieMason/ImageOptim-CLI/issues

    Error: spawn /Applications/ImageOptim.app/Contents/MacOS/ImageOptim ENOENT
        at Process.ChildProcess._handle.onexit (internal/child_pr

[2018-12-23 17:35] JamieMason commented on #170
@glosik it looks like you have not installed https://imageoptim.com/mac?

@aforeman I've not been able to reproduce this and optimised a PNG just now without issue. Please could you add more information, such as what options you passed when running imageoptim cli.

[code]

[2018-12-23 17:37] JamieMason commented on #171
It looks like https://imageoptim.com/mac is not installed.

[2018-12-23 17:54] #171 closed

[2018-12-23 17:54] #168 closed

[2018-12-23 17:55] JamieMason commented on #160
Now that there is support for glob patterns, closing as [YAGNI](https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it).

[2018-12-23 17:55] #160 closed

[2018-12-23 17:56] JamieMason commented on #161
Closing as [YAGNI](https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it).

[2018-12-23 17:56] #161 closed

[2018-12-23 17:58] JamieMason commented on #169
I'm sorry @anuragkothari I honestly don't know, you would need to maybe ask the https://github.com/isaacs/node-glob project to find an answer to this.

[2018-12-23 17:59] #169 closed

[2018-12-23 18:01] JamieMason commented on #108
Closing as the project has had a rewrite since this issue was created a long time ago. Anyone running into this issue please feel free to reopen it.

[2018-12-23 18:01] #108 closed

[2018-12-23 18:01] #112 closed

[2018-12-23 19:55] vitorgalvao commented on #112
To clarify, is the fix live or have you decided not to support it?

[2018-12-23 20:06] JamieMason commented on #112
Hey @vitorgalvao, I decided not to proceed but if anyone has a nice solution they are welcome to get involved.

[2018-12-23 21:05] HReinard commented on #171
Hi,
I found the reason and it's working now.

Best regards, Reinard Schmitz
http://mirnix.info, vom iPad 4

[2019-01-30 08:22] azusa-tomita opened #172 "does not work when compiling locally"
## Steps To Reproduce The Error

1. git clone https://github.com/JamieMason/ImageOptim-CLI.git.
2. npm insatall
3. npm pack
4. npm install -g ./imageoptim-cli-2.3.4.tgz
5. imageoptim ./test.png

## Expected Behaviour
imageOptim.app will work and compress the image.

## Actual Behaviour
Forcibly stop. The following error message is displayed.
[code]

## Version Numbers or N/A
N/A

## Help Needed

[2019-01-30 10:32] JamieMason commented on #172
Thanks @azusa-tomita,
I've had this issue on a few projects – it needs an update to the `globby` dependency to fix it. I will release an update when I get some time, hopefully later today or tomorrow. In the meantime these steps _should_ fix it for you.

1. git clone https://github.com/JamieMason/ImageOptim-CLI.git.
1. npm install
1. npm install --save-dev globby
1. npm pack
1. npm install -g ./im

[2019-02-02 12:10] #172 closed

[2019-03-19 12:56] NithinBiliya opened #173 "MaxBufferError: stderr maxBuffer exceeded"
## Steps To Reproduce The Error
Run imageoptim-cli on a large number of files (eg - 3409)

## Expected Behaviour
optimizes all the files

## Actual Behaviour
exception thrown - MaxBufferError: stderr maxBuffer exceeded

## Version Numbers or N/A
imageoptim-cli version - 2.3.5

- macOS:
- /Applications/ImageOptim.app: 1.8.8
- /Applications/ImageAlpha.app:
- /Applications/JPEGmini.app:

Error stack

[2019-03-22 18:34] runofthemill commented on #173
Same issue; folder with 2016 items:

[code]

macOS 10.14.3
imageoptim-cli 2.0.4
ImageOptim 1.8.8
ImageAlpha 1.5.1

[2019-03-25 12:37] gritd commented on #123
I'm trying to reduce a .png with white gradients to transparent into 8 colors but it looks like :

imageoptim --imagealpha --number-of-colors 8 'spritesheet.png'

Does not really reduce it, if I run the GUI imagealpha on the same image after and reduce it inthere to 8 colors I can clearly see the gradients roughening up, indicating it is not yet at 8 colors after running imageoptim on it. Not sure

[2019-04-05 20:09] akshetpandey commented on #173
Same issue with 500 files.

[2019-04-23 16:13] karlhorky commented on #150
This seems to also be similar to the JPEGmini Lite welcome screen, which also needs to be manually dismissed:

<img width="446" alt="Screen Shot 2019-04-23 at 18 10 08" src="https://user-images.githubusercontent.com/1935696/56597638-285aac00-65f3-11e9-8a56-7161eca89505.png">

Or should I submit this as a separate issue?

[2019-04-23 16:15] karlhorky commented on #150
I'm assuming both of these problems are known issues with version `2.0.4`?

The current workaround that I am using (didn't find this documented anywhere in the readme) is to manually open JPEGmini Lite before using the CLI and manually click on the "Use JPEGmini Lite" button.

Would it be a good idea to document this somewhere?

[2019-05-08 16:11] ruedap commented on #173
Same issue with 1365 files.

macOS 10.14.4
imageoptim-cli 2.0.4
ImageOptim 1.8.8
ImageAlpha 1.5.1

[2019-06-17 09:56] #170 closed

[2019-06-30 21:06] SugarMrPoon opened #176 "dist/osascript/is-installed.applescript: No such file or directory"
Looks like I'm getting a recurrence of [this old issue](https://github.com/JamieMason/ImageOptim-CLI/issues/163).

Installed on Mavericks via homebrew ... tried uninstalling and reinstalling, without luck.  (I'm also having no luck in markdown getting the first half of the error message to appear as code...sorry about that...)

`
! Command failed: osascript /usr/local/Cellar/imageoptim-cli/2.3.6/l

[2019-07-01 07:26] JamieMason commented on #176
Thanks @SugarMrPoon,
I'm not sure what this could be just yet.

The tarball on npm contains those files as proven here:

[code]

The packaging command produces those files in the latest master as proven here:

[code]

I will take a look at the homebrew installation and see if I can reproduce. What the the imageoptim-cli command you ran look like?

[2019-07-01 07:32] JamieMason commented on #176
I bet the version bump of nexe is the cause https://github.com/JamieMason/ImageOptim-CLI/commit/a154af09214d97d03a7b1d657cf7ff98230b709e#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L41

[2019-07-01 07:38] #176 closed

[2019-07-01 07:39] JamieMason commented on #176
Give imageoptim-cli@2.3.7 a try 🤞😬

[2019-07-04 02:32] 0x0480 opened #177 "cannot execute binary file: Exec format error"
[xxxxx@dev-xxxxx covers]$ imageoptim --help
bash: /usr/bin/imageoptim: cannot execute binary file: Exec format error

[2019-07-15 06:39] thetwopct commented on #173
Same issue. Any workaround?

[2019-07-15 06:49] ickc commented on #173
My work around is just don’t use it for batch processing itself. Example will be using `find ... -exec ....` which is single threaded (imageoptim cannot be run in multiple instances. A bit better is to use `find ... -print0 xargs -0 -n ... ` to pass multiple paths to imageoptim for multithreading.

[2019-09-15 06:43] Nowaker opened #179 "Support for removing EXIF from JPEG"
## Description

Imageoptim GUI version offers a way to remove EXIF metadata, but its CLI counterpart does not. Please make it possible to remove EXIF.

## Suggested Solution

- Add `-e` switch to remove EXIF metadata, or
- Add `-e` switch to keep EXIF metadata (making removing the EXIF the default)

## Help Needed

help others understand what they can do to help you get started.

I'm not intereste

[2019-09-15 06:51] Nowaker opened #180 "Exit with non-zero status code on error"
##  Steps To Reproduce The Error

- `brew install imageoptim-cli`
- do NOT install `imageoptim`, the GUI app

## Expected Behaviour

[code]

Exit status 1, indicating a failure. The `! ImageOptim.app is not installed` line should be `!!!` and red to indicate an error.

## Actual Behaviour

[code]

No error. Process exits with exit status 0, indicating a success. The `!` lines are yellow, indicatin

[2019-09-15 06:51] Nowaker commented on #179
Invalid because I got confused by `imageoptim-cli`. https://github.com/JamieMason/ImageOptim-CLI/issues/180

[2019-09-15 06:51] #179 closed

[2019-09-15 13:01] jamesstout opened #181 "Supported file types are case sensitive"
## Steps To Reproduce The Error
A dir with *.PNG files:

[code]
## Expected Behaviour
imageoptim should find the *.PNG files and process them. --help says:

This command doesn't find files with an uppercase extension.

## Actual Behaviour
[code]
If I rename, then it works:
[code]

## Version Numbers or N/A

- macOS: 10.13.6 (17G8030)
- /Applications/ImageOptim.app: 1.8.8
- /Applications/ImageAlpha

[2019-09-15 14:03] jamesstout commented on #177
Need a bit more info really.

What version of macOS are on?
How did you install imageoptim?

See: [bug_report.md](https://github.com/JamieMason/ImageOptim-CLI/raw/master/.github/ISSUE_TEMPLATE/bug_report.md)

Can you please also execute this in your terminal:

`file /usr/bin/imageoptim`

The post the output here.

[2019-09-15 16:01] jamesstout commented on #180
Just an FYI then?

@JamieMason maybe a different logger level?

[code]
Then change the `warning()` calls in the runners, e.g.:
[code]
Not sure if this means it would be caught by your exception handler, I don't think so... I think the Node process stops as soon as you call `process.exit(1);`

https://github.com/JamieMason/ImageOptim-CLI/blob/8a25ef91e97e7529add28f666fd6c9545f080266/src/index.ts#L6

[2019-09-15 16:23] JamieMason commented on #180
Thanks @jamesstout, I think you're right that a new log level is the way to go – it seems better to throw than warn and it's easy for those who might not have been using `--no-imageoptim` and we ignoring the warnings to just add `--no-imageoptim` to prevent the error and quit.

that's correct

[2019-09-15 16:51] jamesstout commented on #180
Thanks, so if `bug()` calls `process.exit(1);`, will this line ever run?

https://github.com/JamieMason/ImageOptim-CLI/blob/8a25ef91e97e7529add28f666fd6c9545f080266/src/index.ts#L62

[not sure what `await` does .. something something async promises?]

[2019-09-15 17:27] Nowaker commented on #180
Thank you guys for looking into it!

I've just corrected the issue title. Not sure how it ended up like that.

Not sure how rare it is but I used `imageoptim` on Linux for years, and now when I'm on Mac I installed it using brew and thought it was working (seeing success messages and all that) but it actually did not.

`await` is a modern JS way to convert visually cluttered callbacks to code that

[2019-09-15 17:57] JamieMason commented on #180
that's right, it waits for the promise to resolve before continuing to the next line. Good thing you mentioned this as I'd missed the tearDown stuff, so I'll make sure that is always run.

[2019-09-15 18:04] jamesstout commented on #180
Yes, apologies .. I was thinking only in macOS terms, and I agree, a correct return code is needed.

Thanks. I'm a JavaScript novice trying and failing to get this TypeScript project to build 😢

[2019-09-15 18:25] JamieMason commented on #181
Sorry, try this @jamesstout to skip Nexe

[code]

[2019-09-15 18:26] JamieMason commented on #181
Fix available and will be in the next release.

[2019-09-15 19:26] #173 closed

[2019-09-15 19:26] #180 closed

[2019-09-15 19:26] #181 closed

[2019-09-15 20:11] jamesstout commented on #180
Definitely doesn't run `clean()` (at the moment) when it exits on error:

![Screen Shot 2019-09-16 at 4 03 16 AM](https://user-images.githubusercontent.com/1576190/64927029-f7944100-d837-11e9-8d56-62ec1c8faa62.png)

[2019-09-15 20:38] JamieMason commented on #180
I realised after releasing 😬 and started this change in a dev branch https://github.com/JamieMason/ImageOptim-CLI/commit/5a6b1d4f2977131b6b12b5ee33d51952b7caba81

[2019-09-16 08:05] JamieMason commented on #177
Please feel free to reopen this @0x0480 if you return to it 👍

[2019-09-16 08:05] #177 closed

[2019-10-27 14:29] reedcrif opened #182 "Command failed with exit code when using ImageAlpha (works great without it)"
Hi!

I meet an issue and I don't know how to solve it...

## Steps To Reproduce The Error
Try to process a file or multiple file, for example:

`$ imageoptim -a EXP_IMG_893010262019.png`

`$ imageoptim -a '**/*.png'`

## Expected Behaviour

## Actual Behaviour
I've got an error (see below).

Output error looks like:
[code]

## Version Numbers or N/A

- macOS: 10.14.6
- /Applications/ImageOptim.app

[2019-10-30 10:31] JamieMason commented on #182
As far as I can tell from [this search](https://github.com/kornelski/pngquant/search?q=98&unscoped_q=98): error code 98 refers to an image which is too large for pngquant to handle, but it looks like EXP_IMG_893010262019.png was 2.99MB in size which I don't expect to be a problem.

I will be honest with you, I'm unable to reproduce this and don't have ideas for a fix at the moment.

[2019-10-30 12:32] kornelski commented on #182
The code 98 is a normal behavior. It's returned when `--skip-if-larger` worked as advertised.

[2019-11-04 16:27] #182 closed

[2019-11-04 16:28] JamieMason commented on #182
Fix released in 3.0.2

[2019-11-13 20:28] reedcrif commented on #182
Hi, a little word to say thank you! It works fine with this version :)

[2019-12-29 00:38] paulp opened #183 "multiple invocations collide in tmpdir, crash"
## Steps To Reproduce The Error
Invoke imageoptim a second time on the same machine.

## Expected Behaviour
Both runs complete successfully.

## Actual Behaviour
When the first one completes, it expunges the temporary directory which both processes are using. The other immediately crashes:
[code]

## Version Numbers or N/A
N/A

## Help Needed
Invocations should each use a unique temporary director

[2020-02-16 21:45] danmostudco commented on #183
Just to comment on this, I've had a similar problem when adding multiple images. I've been using it in a pre-commit hook using husky > lint-staged > and then calling image-optim. Anytime I have multiple jpg's the process seems to fail.

However, the the cli seems to work with multiple pngs. Here are the scripts I call

`    "imageoptim": "yarn imageoptim:gif && yarn imageoptim:jpg && yarn imageopt

[2020-10-05 06:52] Fil opened #185 "crash"
##  Steps To Reproduce The Error

[code]

## Expected Behaviour

ignore or report malformed png files

## Actual Behaviour

crash

## Version Numbers or N/A

- macOS: 10.15.7
- /Applications/ImageOptim.app: 1.8.8 (brew)
- /Applications/ImageAlpha.app: 1.5.1 (brew)
- /Applications/JPEGmini.app: N/A

## Help Needed

would the test at https://github.com/JamieMason/ImageOptim-CLI/blob/e65bb4a24c239752

[2020-11-05 00:56] nlambert opened #186 "imageoptim: cannot execute binary file: Exec format error"
## Steps To Reproduce The Error
`npm -g install imageoptim-cli`
`imageoptim -h`

## Expected Behaviour
Should execute :-)

## Actual Behaviour
Error executing

## Version Numbers or N/A
I'm running an up to date version of arch linux and followed the instructions on npm

## Help Needed
I can see at least one other person ran into the issue as per #177

So I tried an earlier version (current is 3.0

[2020-11-05 09:42] JamieMason commented on #186
Hey @nlambert, I think this will be that the executable wasn't built with linux as a target (nexe [build target options here](https://github.com/nexe/nexe#target-string--object)) _but_, ImageOptim, ImageAlpha, and, JPEGmini are all Mac Apps. imageoptim-cli automates those Apps, so even with this fixed imageoptim-cli wouldn't be suitable for you unfortunately Neil because those Apps aren't availabl

[2020-11-05 09:44] JamieMason commented on #186
(https://github.com/imagemin/imagemin-cli is a really good alternative)

[2020-11-06 16:21] nlambert commented on #186
Ah, got it!

ImageOptim does such a great job! Pity :-)

Thanks for the suggestion, I'll have a look. There are soooo many ways to go... down the rabbit hole I go!

I've tested mozjpeg with good results and have just learned about a whole bunch of other formats that I was completely clueless about (webp, jpeg2000...).

Looks like webp with jpg/png fallback is a good way to go.

Thanks again, @Jami

[2020-11-06 16:21] #186 closed

[2020-11-06 16:23] JamieMason commented on #186
You're welcome 👍

[2021-02-28 01:06] IsmailM opened #187 "JPEGmini is not installed"
## Steps To Reproduce The Error

Run `imageoptim` with the `--jpegmini` option.

## Expected Behaviour

JPEG mini should run...

## Actual Behaviour

I see the following error message:

[code]

## Version Numbers or N/A
ImageOptim CLI Version: 3.0.2
ImageOptim.app: 1.8.8
JPEGmini Pro.app: 3.1.0

## Help Needed

I brought JPEGmini from https://www.jpegmini.com/ - since the app store link in the hel

[2021-03-22 13:15] elalemanyo opened #188 "A Github Action that automatically compresses JPEGs, PNGs and WebPs in Pull Requests."
## Description
Create a Github Action that automatically compresses JPEGs, PNGs and WebPs in Pull Requests.

## Suggested Solution
Create something similar to [calibreapp/image-actions](https://github.com/calibreapp/image-actions), this action works really good but the compression is not as good as the one from ImageOptim 😊

## Help Needed
Maybe someone with experience creating GitHub Actions want

[2021-03-22 13:44] JamieMason commented on #188
Although this is a request for someone to start a new project with/for you and is not related to activity in this repo, I'll leave this issue open for a while incase you get any takers 👍🏻 . The GitHub Action would need to run something in OSX as ImageOptim is only available for that.

[2021-03-29 08:09] dandelion1000 opened #189 "when git merge，pre commit would operate once more npx imageoptim,how to ignore this condition?"
## Description

## Suggested Solution

## Help Needed

[2021-06-24 19:35] gingerbeardman opened #190 "Linked website gives 404"
## Steps To Reproduce The Error
- click the link `https://foldleft.io/image-tools/`

## Expected Behaviour
- display web page

## Actual Behaviour
- 404 error

## Version Numbers or N/A

N/A

## Help Needed

Final slash causes a problem, because `https://foldleft.io/image-tools` works fine

[2021-06-24 19:46] JamieMason commented on #190
Thanks @gingerbeardman I will fix this. Until then it seems the trailing slash version is broken for the time being - https://foldleft.io/image-tools works

[2021-06-25 16:49] gingerbeardman commented on #190
Indeed, as described at the bottom of my issue.

[2021-06-25 18:38] JamieMason commented on #190
Really well done for noticing @gingerbeardman 👏

[2021-08-05 07:52] elalemanyo commented on #188
@JamieMason I think this is too complicated and not sure if it was a good idea 😬
I think it is better to close it.
Thanks

[2021-08-06 17:06] JamieMason commented on #188
Thanks for updating, it is possible I think but yes probably a big job.

[2021-08-06 17:06] #188 closed

[2021-09-05 03:39] inspiredearth opened #191 "Unable to install on M1 / Apple Silicon"
## Steps To Reproduce The Error
Try to install the package on an M1 Mac.

## Expected Behaviour
Install as per normal.

## Actual Behaviour
It runs into issues with` node@10`, as shown in this output:

[code]

Building `node@10` from source does not work.

It results in this output:

[code]

## Version Numbers or N/A

- macOS: 11.5.2
- /Applications/ImageOptim.app: 1.8.8
- /Applications/ImageAlpha

[2021-11-13 14:34] #183 closed

[2021-11-13 14:34] #187 closed

[2021-11-13 14:44] JamieMason commented on #191
@inspiredearth @matthewferry @jwryan9 @shuguenot @sebastienbarre I have updated the version of node.js which imageoptim is built with to `12.18.2`, hopefully this will solve this issue.

This is in `imageoptim-cli@3.0.7` which has just been released, it might take some time before it appears on homebrew (I don't control that).

[2021-11-13 14:46] JamieMason commented on #183
This should hopefully be fixed in `3.0.7`

[2021-11-13 14:46] JamieMason commented on #187
This should hopefully be fixed in `3.0.7`

[2021-11-13 14:51] #162 closed

[2021-11-13 14:51] #150 closed

[2021-11-13 14:51] #151 closed

[2021-11-13 14:56] JamieMason commented on #190
Fixed

[2021-11-13 14:56] #190 closed

[2021-11-14 01:37] sebastienbarre commented on #191
Thanks.

I just cloned the repo to test it out manually.
* I tried the old 3.0.2, and indeed it failed at `yarn install`, same error as seen with Homebrew. What I didn't realize is that `yarn build` *does* work and produces a binary, but since the previous step failed, Homebrew had already given up.
* I then switch to the 3.0.7 tag you just released, and `yarn install` now succeeds (and so does `y

[2021-12-04 00:15] KeygenLLC opened #193 "Manipulating stats with additional args"
## Description
I'd like to know if it's possible to force stats to print as each file completes instead of all at once. If not, then I would like to submit this for a feature, with some additions.

I would also like to be able to control what is printed, such as truncating the file path to explicitly state how many parent directories are shown, if any, and the ability to control the color of the o

[2021-12-11 04:00] OberstKrueger commented on #191
Tangential, but based on [this pull request](https://github.com/Homebrew/homebrew-core/pull/89407), it looks like imageoptim not being updated is blocking the homebrew formula from being updated.

[2021-12-13 12:56] JamieMason commented on #193
This would be great, I agree, but the desktop apps which imageoptim-cli controls don't output that information until they've completed, so this is out of my control.

I have to be honest with you and admit that I don't want to include this feature in the CLI, I don't think anyone else would have a need for it. The best thing to do for something like this would be to pipe the output of imageoptim-c

[2021-12-13 12:57] #193 closed

[2022-01-09 05:03] joelbowen commented on #191
What needs to be done to update the homebrew formula? Still seeing 3.0.2 and unable to install on Apple silicon https://formulae.brew.sh/formula/imageoptim-cli#default

[2022-01-21 10:45] JamieMason commented on #191
I've not had any time to check but I suspect the package needs building for a different version of node.js than it is currently _or_ it seems like maybe homebrew also supports linux now(?) and, if that's the case, could be related to this package being mac only.

[2022-01-27 21:51] 3zzy commented on #191
https://formulae.brew.sh/formula/imageoptim-cli is now `3.0.7` but I still don't see support for Apple Silicon mentioned there.

[2022-02-15 01:55] levibuzolic commented on #191
get the same as above for homebrew, but I was able to install `imageoptim-cli` via Yarn without issue on Apple Silicon.

[code]

[2022-03-06 10:14] levibuzolic commented on #191
@janosh yes, runs without issue.

[code]

[2022-03-06 11:19] janosh commented on #191
@levibuzolic Thanks! Can you confirm that it's using Rosetta?

[2022-03-06 11:54] levibuzolic commented on #191
Yep.

![image](https://user-images.githubusercontent.com/721323/156921926-b5160a5b-306b-4642-adbc-ebbbc2f4f704.png)

[2022-06-19 18:49] JamieMason commented on #191
Anything I need to do for this? I don't own an M1 Mac.

[2022-07-01 17:55] #191 closed

[2022-07-01 17:57] #189 closed

[2022-07-14 02:05] ickc commented on #191
@Spomsoree, if you follow https://github.com/Homebrew/homebrew-core/pull/96368 then you'll see the patch isn't accepted, and is made under the assumption that you can run it through rosetta 2.

So in short, it can't be run native yet, but you can run it through rosetta 2. In order to do this, follow https://github.com/Homebrew/brew/issues/9173

[2022-10-10 16:35] jasonhibbs commented on #191
Similar issues to above, but with Yarn I get:
[code]

[2022-10-14 03:26] ickc commented on #191
@sammcj, I know you're confused, but this issue is about installing on Apple Silicon, not running it natively. People above showed that it can be installed, so indeed this issue is resolved.

 The comment I made is about the brew formula. The maintainer here tried to fix it, but clearly wasn't very familiar with homebrew. And technically it is an issue for homebrew, not this repo (homebrew formula

[2022-10-14 03:44] sammcj commented on #191
@ickc that's a bit petty / high and mighty, I'm an OSS maintainer as well. While I appreciate what you're saying in general - I didn't like a consumer - I just stated that it's not fixed and needs to be compiled for ARM plain and simple 🤷

[2022-10-14 04:13] ickc commented on #191
@sammcj, which part of the issue "Unable to install on M1 / Apple Silicon" you think is not closed/resolved?

Feel free to open a new issue if you want.

And have you visited the linked issue? It seems like you're not really reading what I wrote, nor understanding what is really the issue at hand. And given your attitude I'll refrain from commenting here further.

[2022-10-25 18:06] derpycoder opened #195 "Animated PNG Compression"
## Description

This tool is a life saver, I love it. I am using it to compress all the files in the project.

However, when I try to compress APNG file, the compressor compresses only the first frame.

I'm trying to compress the fluent emoji icons!

[Official Repo](https://github.com/microsoft/fluentui-emoji)
[Animated PNGs Repo](https://github.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis)

## S

[2022-10-28 11:02] JamieMason commented on #195
Thanks @derpycoder, this would be something for the [ImageOptim.app](https://imageoptim.com/mac) or [ImageAlpha](https://pngmini.com/) apps, this CLI is just a convenience to run those apps, which do the optimisation.

[2022-10-28 11:03] #195 closed